<template>
  <div class="feed" v-if="isStarter">
    <CardPost :details="post" v-for="(post, index) in feed" :key="`post-${index}`" @processSuccess="processSuccess" />
  </div>
</template>

<script src="./Feed"></script>