<template>
  <div class="register-wrapper">
    <ToolbarAuth path="/login" text="เข้าสู่ระบบ" />
    <img :src="imgLogo" class="logo-brand mb-4" alt="" />
    <h2 class="text-black text-stong mb-4">สมัครสมาชิก</h2>
    <v-container>
      <v-divider></v-divider>
      <v-row class="mt-n8 mb-4 justify-center register-route">
        <v-col class="text-right">
          <BtnMd link="/register/student" class="btn-rounded-pill btn-primary mr-1" :class="{ 'btn-primary-outline': isActive == 1 }">
            สำหรับนักเรียน
          </BtnMd>
        </v-col>
        <v-col class="text-left">
          <BtnMd link="/register/teacher" class="btn-rounded-pill btn-primary ml-1" :class="{ 'btn-primary-outline': isActive == 0 }">
            สำหรับผู้สอน
          </BtnMd>
        </v-col>
      </v-row>
      <router-view />
    </v-container>
  </div>
</template>

<script src="./Register"></script>

<style lang="scss" scoped>
.register-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 64px 16px;
  background-image: url("~@/assets/images/bg/bg-login.png"), linear-gradient(#ffffff 0%, #fad0b5 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .logo-brand {
    width: 120px;
    height: 170px;
  }

  .text-login {
    font-size: 28px;
  }

  .login-form {
    width: 100%;
    max-width: 750px;
    text-align: center;
  }
}
</style>