<template>
  <div class="feed" v-if="isStarter && feed.length">
    <CardPost :details="post" v-for="(post, index) in feed" :key="`post-${index}`" @processSuccess="processSuccess" />
  </div>
  <div class="mt-10 text-center" v-else>
    <h1 class="grey--text">ไม่มีโพสต์ที่ถูกใจ</h1>
  </div>
</template>

<script src="./Liked"></script>