* {
    font-family: "Sukhumvit Set", "Kanit", sans-serif;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-size: 22px;
    font-weight: 400;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

h6 {
    font-size: 18px;
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0 !important;
}

small {
    font-size: 15px !important;
    font-weight: 400 !important;
    // color: $black !important;
}

a {
    color: $black !important;
    text-decoration: none;
    &:hover {
        color: $primary--color !important;
    }
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.text-header {
    font-weight: 600;
}

.text-subheader {
    color: $black !important;
    font-weight: 600 !important;
}

.text-primary {
    color: $primary--color;
}

.text-icon-primary {
    color: $primary--color !important;
}

.text-black {
    color: $black;
}

.text-white {
    color: $white;
}

.v-application .primary--text {
    color: $primary--color !important;
}

.text-header-list {
    color: $secondary--color;
}

.text-highlight {
    color: $red--highlight;
}

.text-overflow {
    white-space: wrap;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-tab {
    font-size: 18px !important;
}