.v-application--wrap {
    background-image: url("./assets/images/bg/bg-main.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper-main {
    min-height: 100vh;

    &.wrapper-edit {
        .v-main__wrap {
            padding-left: 100px !important;
            padding-right: 12px !important;

            .main-container {
                max-width: 1300px;
            }
        }
    }
    .v-main__wrap {
        padding-left: 300px !important;
        padding-right: 350px !important;
        .main-container {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.wrapper-profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    //   justify-content: center;
    align-items: center;
    min-height: 100%;
    .wrapper-profile-cover {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: $black;
        background-size: cover;
        background-position: 25% 50%;
        background-repeat: no-repeat;

        .wrapper-options-bar {
            position: absolute;
            display: flex;
            justify-content: space-between;
            bottom: 10px;
            right: 0;
            left: 0;
            width: 100%;
            margin: auto;
            padding-left: 27%;
            background-color: transparent;

            .options-bar {
                display: flex;
                align-items: center;
                flex-flow: row-reverse;
                padding-right: 2px;
            }
        }

        .icon-edit {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .wrapper-profile-main {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: row;
        width: 100%;
        min-height: calc(100vh - 460px);
        background-color: transparent;

        .profile-sidebar {
            // position: sticky;
            display: flex;
            // top: 200px;
            flex: 1;
            flex-grow: 1;
            left: 0;
            bottom: 0;
            flex-direction: column;
            width: 27%;
            text-align: center;
            min-height: calc(100vh - 460px);
            background-color: $white;

            .avatar {
                margin-top: -100px;
            }

            .follow-block {
                display: flex;
                flex: 1;
                // justify-content: space-between;
                align-items: center;
                width: 100%;
                border-top: 1px solid $secondary--color;
                border-bottom: 1px solid $secondary--color;

                .follow-child-block {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 50%;
                    height: 80px;
                    cursor: pointer;

                    &.follower-block {
                        border-right: 1px solid $secondary--color;
                    }
                }
            }
        }
        .navbar-route {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            min-height: 60px;
            max-height: 60px;
            height: 60px;
            margin-bottom: 16px;
            background-color: $white;

            .navbar-route-link {
                position: relative;
                max-width: 200px;
                font-size: 18px;
                cursor: pointer;

                &.active::after {
                    position: absolute;
                    content: " ";
                    border-bottom: 3px solid $primary--color;
                    bottom: -6px;
                    left: 0;
                    right: 0;
                }
            }
        }
        .wrapper-content {
            display: flex;
            flex: 1;
            flex-direction: column;
            width: 100%;
            min-height: 60px;
            padding: 16px 16px 0;
            background-color: transparent;
        }
        .wrapper-profile-content {
            display: flex;
            flex-direction: column;
            width: 73%;
            min-height: 100px;
            background-color: transparent;
        }
        .wrapper-group-content {
            width: 100%;
            padding: 12px;

            .card-group-content {
                max-width: 1200px;
                width: 100%;
                min-height: 100vh;
                margin-left: auto;
                margin-right: auto;
                padding: 40px 0;
                margin-top: -174px;
                box-shadow: $box-shadow-normal;
                border-radius: $border-radius-md;

                .wrapper-text-detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: 1000px;
                    padding: 0 12px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 24px;
                    text-align: left;
                    text-justify: auto;
                }
                .navbar-route {
                    width: 100%;
                    border-top: 1px solid $border-color-gray;
                    border-bottom: 1px solid $border-color-gray;
                    border-bottom-left-radius: $border-radius-none;
                    border-bottom-right-radius: $border-radius-none;
                }
            }
        }
    }
}

.sidebar {
    &.sidbar-sm {
        width: 100px;
        background-color: $white;
        padding-left: 0;
        padding-right: 0;
        .side-logo {
            height: 85px;
        }
        .list-group {
            padding-right: 0px;
            .v-icon {
                margin-right: auto !important;
                margin-left: auto;
            }
        }
        .profile-list {
            padding-right: 9px;
            padding-left: 9px;
        }
        .v-avatar {
            img {
                margin-right: auto;
            }
        }
        .icon-link {
            margin: auto;
            &:before {
                font-size: 40px;
            }
        }
        .text-link {
            display: none;
        }

        .v-badge {
            margin-left: auto;
            margin-right: auto;
        }
        .v-badge__badge {
            right: auto;
            right: 20% !important;
            left: 40% !important;
        }
    }
    position: fixed;
    z-index: 99;
    width: 300px;
    height: 100vh;
    padding: 60px 0 20px 20px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &:hover {
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba($color: $black, $alpha: 0.25);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba($color: $black, $alpha: 0.5);
        }
    }

    .add-course {
        width: 32px;
    }
    .img-logo {
        width: 100px;
        margin-bottom: 25px;
        img {
            width: 100px;
        }
    }
    .list-group {
        margin-top: 16px;
        list-style: none;
        padding-left: 0px !important;
        padding-right: 10px;
        li {
            margin-bottom: 20px;
            cursor: pointer;
            &:hover {
                color: $primary--color;
                .v-icon {
                    color: $primary--color;
                }
            }
            &.active {
                a {
                    color: $primary--color !important;
                }
                .v-icon {
                    color: $primary--color;
                }
            }
            .icon-link {
                color: $black;
                margin-right: 20px;
            }
        }
    }
}

// recommended
.sidebar-recommended {
    position: fixed;
    width: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 350px;
    // min-width: 350px;
    min-height: 100vh;
    padding: 20px;
    background-color: rgba($color: $primary--color, $alpha: 0.3);
    border-radius: 20px 0 0 20px;
    .wrapper-overflow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        height: 100%;
    }
    .wrapper-recommended {
        min-width: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0.5px;
        }
    }
}

.wrapper-edit {
    display: flex;
    // background: $border-input-color;
    height: 100%;
    .side-edit {
        position: fixed;
        display: flex;
        width: 320px;
        height: 100vh;
        // padding: 80px 25px;
        background-color: $white;
        // a {
        //     align-self: center;
        // }
        li {
            display: flex;
            list-style: none;
            padding: 16px 0;
            border-bottom: 1px solid rgba($color: $black, $alpha: 0.16);
            &:hover {
                .v-icon {
                    &::before {
                        color: $primary--color;
                    }
                }
            }
            &.side-list-header {
                display: flex;
                margin: 20px auto;
                padding: 16px;
                flex-direction: column;
                border-bottom: 5px solid rgba($color: $black, $alpha: 0.25);
                .text-header,
                .text-subheader {
                    display: block;
                }
            }
        }
        a {
            padding: 32px 0;
        }
    }
    .wrapper-edit-page {
        padding-left: 320px !important;
        padding-top: 0px !important;
        .top-header {
            display: flex;
            justify-content: space-between;
            padding: 20px 40px;
            background-color: $white;
        }
        .container {
            min-height: calc(100vh - 140px);
        }
    }
    .wrapper-text-course-description {
        display: -webkit-box;
        text-align: start;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.wrapper-invite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    // max-width: 800px;
    margin: auto;
    .box-invite {
        width: 50%;
        h5 {
            background: $border-color-gray;
        }
        &:first-child {
            border-right: 1px solid $border-color-gray;
        }
        &:last-child .short-box:last-child {
            height: 200px;
        }

        .wrapper-list-invite {
            display: flex;
            flex-direction: column;
            width: 100%;
            &:last-child {
                &.long-box {
                    height: 598px;
                }
            }
            &.short-box {
                height: 300px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &:hover {
                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba($color: $black, $alpha: 0.25);
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: rgba($color: $black, $alpha: 0.5);
                    }
                }
            }
            &.long-box {
                height: 600px;
                overflow-y: auto;
                &:first-child {
                    height: 600px;
                }
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &:hover {
                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba($color: $black, $alpha: 0.25);
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: rgba($color: $black, $alpha: 0.5);
                    }
                }
            }
        }
    }
}

.bottom-bar {
    visibility: hidden;
    .v-icon {
        &::before {
            font-size: 30px;
            color: rgba($color: $primary--color, $alpha: 0.25);
        }
    }
    .router-link-active {
        .v-icon {
            &::before {
                // font-size: 35px;
                color: $primary--color;
            }
        }
    }
}


