@media screen and (max-width: 1264px) {
    .sidebar {
        width: 100px;
        .side-logo {
            height: 85px;
        }
        .list-group {
            padding-right: 0px;
            .v-icon {
                margin-right: auto !important;
                margin-left: auto;
            }
        }
        .profile-list {
            padding-right: 9px;
            padding-left: 9px;
        }
        .v-avatar {
            img {
                margin-right: auto;
            }
        }
        .icon-link {
            margin: auto;
            &:before {
                font-size: 40px;
            }
        }
        .text-link {
            display: none;
        }

        .v-badge {
            margin-left: auto;
            margin-right: auto;
        }
        .v-badge__badge {
            right: auto;
            right: 20% !important;
            left: 40% !important;
        }
    }
    .wrapper-main {
        .v-main__wrap {
            padding-left: 100px !important;
        }
    }
}

@media screen and (max-width: 960px) {
    .sidebar-recommended {
        display: none;
    }
    .wrapper-main {
        .v-main__wrap {
            padding-right: 20px !important;
        }
    }
    .wrapper-edit {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .side-edit {
            display: none;
        }
        .wrapper-edit-page {
            padding-left: 0px !important;
            padding-top: 0px !important;
            .top-header {
                display: flex;
                // width: 100%;
                padding: 20px 40px !important;
                background-color: $white;
            }
        }
    }
    .wrapper-profile {
        .wrapper-profile-cover {
            .wrapper-options-bar {
                display: none;
            }
        }
        .wrapper-profile-main {
            flex-direction: column;
            .profile-sidebar,
            .wrapper-profile-content {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
    .wrapper-main {
        &.wrapper-edit {
            .v-main__wrap {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
        }
        .v-main__wrap {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }
    }
    .v-stepper {
        width: 100% !important;
        .v-stepper__header {
            // width: 70%;
            padding: 0 12px !important;
        }

        .v-btn.btn-nav {
            max-width: 100px !important;
        }
    }
    .bottom-bar {
        visibility: visible;
    }
    .side-profile-card {
        .block-profile {
            display: none;
        }
    }
    .card-post {
        .v-avatar {
            height: 40px !important;
            min-width: 40px !important;
            width: 40px !important;
        }
        .text-name {
            font-size: 16px;
        }
        .text-date {
            font-size: 14px;
        }
        .text-privacy {
            font-size: 14px;
        }
        .btn-tag-subject {
            min-width: 30px !important;
            width: 50px !important;
        }
    }
    .preview-img {
        max-width: 100px;
        height: 100px;
        margin: auto;
        padding: 0 !important;
        background-color: $gray--light !important;
        overflow: hidden;

        &.preview-img-large {
            height: 200px !important;
            // height: 200px;
        }
        &.img-cover {
            border-top-left-radius: $border-radius-md;
            border-top-right-radius: $border-radius-md;
            border-bottom-right-radius: $border-radius-none;
            border-bottom-left-radius: $border-radius-none;
            img {
                border-top-left-radius: $border-radius-md;
                border-top-right-radius: $border-radius-md;
                border-bottom-right-radius: $border-radius-none;
                border-bottom-left-radius: $border-radius-none;
            }
        }   
    }

    
}

// @media screen and (max-width: 600px) {
//     .sidebar {
//         display: none !important;
//     }
//     .wrapper-main {
//         .v-main__wrap {
//             padding-right: 0px !important;
//             padding-left: 0px !important;
//         }
//     }
//     .top-bar {
//         visibility: visible;
//     }
//     // responsive-bottom-bar
//     .bottom-bar {
//         visibility: visible;
//     }
//     .sidebar-post {
//         display: none;
//     }
//     // img preview
//     .vgs__container {
//         top: 0 !important;
//     }
//     .tag-subject {
//         width: 55px !important;
//         height: 30px !important;
//         min-width: 20px !important;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         justify-content: start;
//         padding: 0 8px !important;
//         font-size: 14px !important;
//         &.list-subject {
//             width: auto !important;
//         }
//     }
//     .side-edit {
//         position: relative;
//         display: flex;
//         width: 100%;
//         height: 80px;
//         background-color: $white;
//         ul {
//             margin-top: 20px;
//             h6 {
//                 font-size: 14px;
//                 margin: auto 6px;
//             }
//         }
//         a {
//             padding: 16px 0 !important;
//         }
//     }
//     .side-list-header {
//         display: none !important;
//     }
//     .text-tab {
//         font-size: 14px !important;
//         font-weight: 600;
//     }
//     .v-stepper__header {
//         width: 100% !important;
//     }

//     .flex-btn-course {
//         justify-content: center !important;
//     }
    
// }
