// color
$primary--color: #f26522; //orange
$secondary--color: #9a6600; //color
$red--highlight: #fd331c;
$orange--red: #ff3300;
$red: #ff3300;
$white: #ffffff;
$black: #000000;
$silver: #c3c3c3;
$gray--color: #4a4a4a;
$gray--light: #e8e8e8;
$border-color-gray: rgba(0, 0, 0, 0.12);
$border-input-color: #dbdbdb;

$box-shadow-normal:0 3px 6px 0 rgba($color: $black, $alpha: 0.27)  !important;
$box-shadow-none: 0 0 0 0 !important;

// border-radius
$border-radius-none: 0px !important;
$border-radius-xs: 5px !important;
$border-radius-sm: 10px !important;
$border-radius-md: 15px !important;
$border-radius-lg: 20px !important;
$border-radius-xl: 30px !important;
$border-radius-special: 45px !important;
$border-radius-rounded: 50% !important;
$border-radius-pill: 9999px !important;
