@import "./_variables.scss";
@import "./_font.scss";
@import "./_layouts.scss";
@import "./_size.scss";
@import "./_color.scss";
@import "./_responsive";
// components
@import "./components/card.scss";
@import "./components/checkbox_custom.scss";
@import "./components/dropdown.scss";
@import "./components/joint.scss";
@import "./components/input.scss";
@import "./components/img.scss";
@import "./components/tag_subject.scss";
@import "./components/button.scss";
@import "./components/modal.scss";
@import "./components/tabs.scss";
@import "./components/pannel.scss";
@import "./components/stepper.scss";
@import "./components/slideImg.scss";
@import "./components/loading.scss";
@import "./components/expansion.scss";
// page
@import "./page/message.scss";
@import "./page/post.scss";
@import "./page/error_page.scss";
// font
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap");

.position {
    &-absolute {
        position: absolute;
    }
    &-relative {
        position: relative;
    }
}

.border-verticle {
    border-top: 1px solid $border-color-gray;
    border-bottom: 1px solid $border-color-gray;
}

.flipped {
    transition: transform 0.8s;
    transform: rotateY(180deg);
    //   transform-style: preserve-3d;
}

.middle {
    align-self: center;
}

.end {
    align-self: flex-end;
}

.underline {
    position: relative;
    &::after {
        position: absolute;
        content: " ";
        border-bottom: 3px solid $primary--color;
        bottom: -6px;
        left: 0;
        right: 0;
    }
}

.nowrap {
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

.required {
    color: $red--highlight;
    margin-left: 5px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;

    &::before,
    &::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid $border-color-gray;
    }
    &:not(:empty)::before {
        margin-right: 0.5em;
    }
    &:not(:empty)::after {
        margin-left: 0.5em;
    }
}

.list-link {
    &:hover {
        p, .v-icon::before, svg {
            color: $primary--color;
        }   
    }
}
