<template>
  <div class="profile" v-if="isStarter">
    <ToolbarProfile />
    <v-main>
      <div class="wrapper-profile">
        <div class="wrapper-profile-cover" :style="{ 'background-image': `url(${apiURL}/${group.cover})` }">
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn class="icon-edit error--text" icon small rounded v-on="on">
                <v-icon v-bind="attrs">mdi-cog</v-icon>
              </v-btn>
            </template>
            <v-list>
              <!-- v-if="group.status == 'admin'" -->
              <v-list-item @click="isModal = true" v-if="group.status == 'admin'">
                <v-list-item-content> แก้ไขกลุ่ม </v-list-item-content>
                <v-icon>mdi-pencil</v-icon>
              </v-list-item>
              <v-list-item @click="leaveGroup()" v-if="group.status !== 'admin'">
                <v-list-item-content> ออกจากกลุ่ม </v-list-item-content>
                <v-icon>mdi-logout</v-icon>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
        <div class="wrapper-profile-main">
          <div class="wrapper-group-content">
            <v-card class="card-group-content text-center position-relative">
              <div class="wrapper-text-detail">
                <v-row>
                  <v-col class="col-12">
                    <h4 class="mb-4">
                      {{ group.name }}
                    </h4>
                    <p>{{ group.description }}</p>
                  </v-col>
                  <v-col class="col-12 text-center">
                    <v-btn class="primary white--text btn-sm btn-rounded-pill ma-auto" @click="goPage(`/course/create?groupID=${group.group_id}&groupName=${group.name}`)" v-if="group.status !== 'member'">
                      <v-icon size="24">mdi-plus</v-icon>
                      <p>สร้าง Course</p>
                    </v-btn>
                  </v-col>
                </v-row>
              </div>
              <div class="navbar-route">
                <div
                  class="navbar-route-link"
                  :class="{ active: this.$route.name == 'TimelineGroup' }"
                  @click="goPage(`/group/${group.group_id}`)"
                >
                  ไทม์ไลน์
                </div>
                <div
                  class="navbar-route-link"
                  :class="{ active: this.$route.name == 'MemberGroup' }"
                  @click="goPage(`/group/${group.group_id}/member`)"
                >
                  สมาชิก
                </div>
                <div
                  class="navbar-route-link"
                  :class="{ active: this.$route.name == 'InviteGroup' }"
                  @click="goPage(`/group/${group.group_id}/invite`)"
                  v-if="group.status !== 'member'"
                >
                  คำขอ/เชิญ
                </div>
              </div>
              <router-view />
            </v-card>
          </div>
        </div>
      </div>
    </v-main>
    <ModalFollow v-model="isActive" :title="title" :users="followList" />
    <ModalCover
      :value="isModal"
      @input="closeModal"
      title="เปลี่ยนรูปภาพหน้าปก"
      :groupId="group.group_id"
      :groupName="group.name"
      :groupDescription="group.description"
      :image="group.cover"
    />
  </div>
</template>

<script src="./MainGroup"></script>