<template>
  <div class="feed" v-if="isStarter && feed.length">
    <CardPost :details="post" v-for="(post, index) in feed" :key="`post-${index}`" @processSuccess="processSuccess" />
  </div>
  <div v-else>
    <h1 class="grey--text">
      ไม่มีโพสต์ที่บันทึกไว้
    </h1>
  </div>
</template>

<script src="./Saved"></script>