<template>
  <div class="wrapper-gallery">
  </div>
</template>

<script>
export default {
  props: {
    images: {
      type: Array
    }
  },
  computed: {
    images() {}
  },
  methods: {}
}
</script>
