<template>
  <div v-if="isStarter">
    <v-form ref="editForm" v-model="isValid" lazy-validation aria-autocomplete>
      <v-row class="justify-center text-center">
        <InputGroup
          v-model="account.firstname"
          :layout="layout.half"
          inputStyle="sm"
          label="ชื่อ"
          placeholder="ระบุชื่อ"
          :validates="[rules.required]"
          isRequired
        />
        <InputGroup
          v-model="account.lastname"
          :layout="layout.half"
          inputStyle="sm"
          label="นามสกุล"
          placeholder="ระบุนามสกุล"
          :validates="[rules.required]"
          isRequired
        />
        <v-flex xs12></v-flex>
        <InputGroup
          v-model="account.username"
          :layout="layout.half"
          inputStyle="sm"
          label="ชื่อผู้ใช้"
          placeholder="ชื่อผู้ใช้"
          :validates="[rules.required]"
          isRequired
          isDisabled
        />
        <InputGroup
          v-model="account.id_card"
          :layout="layout.half"
          inputStyle="sm"
          label="เลขบัตรประชาชน"
          placeholder="เลขบัตรประชาชน"
          :validates="[rules.required, rules.idCard]"
          isRequired
          v-if="(this.account.type == 'student')"
        />
        <v-flex xs12 sm4 xl3 v-if="(this.account.type == 'teacher')"></v-flex>
        <v-flex xs12></v-flex>
        <SplitDateSelect
          v-model="account.date_of_birth"
          :layout="layout.half"
          inputStyle="sm"
          label="วันเกิด"
          isRequired
          :validates="[rules.required]"
        />
        <RadioGroup
          v-model="account.sex"
          :layout="layout.half"
          inputStyle="sm"
          :items="genders"
          itemValue="value"
          itemText="text"
          label="เพศ"
          isRequired
        />
        <v-flex xs12></v-flex>
        <InputGroup
          v-model="account.email"
          :layout="layout.half"
          inputStyle="sm"
          label="อีเมล"
          placeholder="example@mail.com"
          :validates="[rules.required, rules.email]"
          isRequired
          isDisabled
        />
        <InputGroup
          v-model="account.tel"
          :layout="layout.half"
          inputStyle="sm"
          label="เบอร์โทรศัพท์"
          placeholder="ระบุเบอร์โทรศัพท์"
          :validates="[rules.required, rules.phone]"
          isRequired
        />
        <v-flex xs12></v-flex>
        <InputGroup
          v-model="account.education"
          :layout="layout.half"
          inputStyle="sm"
          label="ระดับการศึกษา"
          placeholder="ระดับการศึกษา"
          v-if="(this.account.type == 'teacher')"
        />

        <InputGroup
          v-model="account.faculty"
          :layout="layout.half"
          inputStyle="sm"
          label="ระดับการศึกษา"
          placeholder="ระดับการศึกษา"
          v-else
        />
        <InputGroup
          v-model="account.university"
          :layout="layout.half"
          inputStyle="sm"
          label="สถาบันการศึกษา/ที่ทำงาน"
          placeholder="สถาบันการศึกษา/ที่ทำงาน"
        />
        <v-flex xs12></v-flex>
        <v-col :class="layout.half" class="text-start" v-if="(this.account.type == 'teacher')">
          <label class="ml-2">ใบ certificate (ถ้ามี)</label>
          <BtnUpload class="btn-dark" @onchangeHandler="onchangeHandler" />
          <a
            target="_blank"
            :href="`${apiURL}/${user.certificate}`"
            v-if="!filename && user.type == 'teacher' && user.certificate "
          >
            <p>{{ user.certificate | filterBaseName }}</p>
          </a>
          <p>{{filename}}</p>
        </v-col>
        <v-flex xs12 sm4 xl3 v-if="(this.account.type == 'teacher')"></v-flex>
        <v-flex xs12></v-flex>
        <BtnSm
          class="btn-primary btn-rounded-pill mt-4 mt-sm-8"
          @click.native="submit()"
          :isLoading="isLoading"
          :isDisabled="isLoading"
        >บันทึก</BtnSm>
      </v-row>
    </v-form>
  </div>
</template>

<script src="./EditInfo"></script>