<template>
  <div class="text-center" v-if="isStarter">
    <!-- <v-hover v-slot="{ hover }" disabled> -->
      <BoxUpload @onchangeHandler="onchangeHandlerFile">
        <template v-slot="{ on }">
          <CoverPreview :img="imgCover" v-on="on" :maxWidth="1500" />
        </template>
      </BoxUpload>
    <!-- </v-hover> -->
    <BtnSm
      class="btn-primary btn-rounded-pill mt-8"
      @click.native="submit()"
      :isLoading="isLoading"
      :isDisabled="isLoading"
    >บันทึก</BtnSm>
  </div>
</template>

<script src="./EditCover"></script>