<template>
  <div>
    <v-card class="mb-5 post-card">
      <v-list class="transparent">
        <v-list-item>
          <a class="d-flex justify-space-between w-100" :href="`/profile/timeline/${post.user_id}`">
            <v-list-item-avatar color="grey">
              <img :src="`${post.img}`" alt="avatar" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>
                <h5>{{ post.fullname }}</h5>
              </v-list-item-title>
              <v-list-item-subtitle>
                <small class="mt-0 mb-0">{{ post.create_at }}</small>
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-icon class="text-end" v-if="post.subject">
              <div class="tag-subject text-highlight">{{ post.subject }}</div>
            </v-list-item-icon>
          </a>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <p v-if="post.type == 'course' && post.chapter">{{ post.caption }}</p>
            <p v-else>{{ post.title }}</p>
          </v-list-item-content>
        </v-list-item>
        <div class="content-block mb-5" v-if="post.type !== 'post' && post.files">
          <img :src="`${apiUrl}/${post.files[0].file.file}`" @click="popupGallery(post.files, 0)" alt />
        </div>
        <div v-else>
          <div
            class="content-block file-block mb-5"
            v-if="post.file_type && post.file_type == 'pdf' && post.files.length > 0"
          >
            <v-container>
              <v-row>
                <v-col class="col-12" v-for="(file, index) in post.files" :key="file + index">
                  <a target="_blank" :href="`${apiUrl}/${file.file.file}`">
                    <v-card>
                      <v-row class="justify-center">
                        <v-col class="d-flex col-10 col-lg-6 col-md-6 col-sm-10 col-xs-10 justify-start">
                          <p class="mt-auto mb-auto">{{ file.file.file_name }}</p>
                        </v-col>
                        <v-col class="d-flex col-2 col-lg-4 col-md-4 col-sm-10 col-xs-10 justify-center">
                          <v-icon>mdi-download-outline</v-icon>
                        </v-col>
                      </v-row>
                    </v-card>
                  </a>
                </v-col>
              </v-row>
            </v-container>
          </div>
          <div
            class="content-block mb-5"
            v-if="post.file_type && post.file_type == 'img' && post.files.length == 1"
          >
            <img :src="`${apiUrl}/${post.files[0].file.file}`" @click="popupGallery(post.files, 0)" alt />
          </div>
          <div
            class="content-block file-block image-block mb-5"
            v-if="post.file_type && post.file_type == 'img' && post.files.length > 1"
          >
            <v-container>
              <v-row>
                <v-col>
                  <div class="flex-image main-img">
                    <img :src="`${apiUrl}/${post.files[0].file.file}`" @click="popupGallery(post.files, 0)" alt />
                  </div>
                </v-col>
                <v-col v-if="post.files.length == 2">
                  <div class="flex-image mb-4 main-img">
                    <img :src="`${apiUrl}/${post.files[1].file.file}`" @click="popupGallery(post.files, 1)" alt />
                  </div>
                </v-col>
                <v-col v-if="post.files.length > 2">
                  <div class="flex-image mb-4 child-img">
                    <img :src="`${apiUrl}/${post.files[1].file.file}`" @click="popupGallery(post.files, 1)" alt />
                  </div>
                  <div class="flex-image child-img" v-if="post.files.length > 2">
                    <img :src="`${apiUrl}/${post.files[2].file.file}`" @click="popupGallery(post.files, 2)" alt />
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </div>

          <div class="content-block mb-5" v-if="post.link !== null">
            <iframe
              width="100%"
              height="100%"
              :src="`https://www.youtube.com/embed/${post.link}`"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <v-list-item class="flex-action justify-space-between mb-4">
          <v-icon class="mr-2">mdi-chat-outline</v-icon>
          <v-list-item-title>
            <v-list-item-title>
              <small>
                <span class="text-comment">{{ post.comment_count }}</span>
              </small>
            </v-list-item-title>
          </v-list-item-title>
          <v-icon
            class="mr-2"
            @click="actionPost(post.post_id, 'like')"
            v-if="post.is_like && post.is_like == true"
            color="error"
            >mdi-heart</v-icon
          >
          <v-icon class="mr-2" @click="actionPost(post.post_id, 'like')" v-else>mdi-heart-outline</v-icon>
          <v-list-item-title @click="actionPost(post.post_id, 'like')">
            <small>
              <span>{{ post.emoticon_count }}</span>
            </small>
          </v-list-item-title>
          <v-icon class="mr-2">mdi-share-variant</v-icon>
          <v-list-item-title>
            <small>
              <span>แชร์</span>
            </small>
          </v-list-item-title>
          <v-icon class="mr-2" @click="actionPost(post.post_id, 'favorite')" :color="post.is_favorite ? 'primary' : ''"
            >mdi-bookmark</v-icon
          >
          <v-list-item-title @click="actionPost(post.post_id, 'favorite')">
            <small>
              <span>{{ post.favorite_count }}</span>
            </small>
          </v-list-item-title>
          <v-menu bottom left class="d-flex" v-if="userId == post.user_id">
            <template v-slot:activator="{ on, attrs }">
              <v-btn dark icon v-bind="attrs" v-on="on" class="d-flex">
                <v-icon color="grey">mdi-dots-horizontal</v-icon>
              </v-btn>
            </template>
            <v-list class="pa-4">
              <v-list-item-title @click="editFeed(post.post_id, post.type)">
                <a>
                  <p>แก้ไข</p>
                </a>
              </v-list-item-title>
              <v-list-item-title @click="deleteFeed(post.post_id, post.type)">
                <a>
                  <p class="mb-0">ลบ</p>
                </a>
              </v-list-item-title>
            </v-list>
          </v-menu>
        </v-list-item>
        <v-list-item v-if="post.type !== 'course'">
          <v-list-item-avatar color="grey">
            <img :src="`${img}`" alt="avatar" />
          </v-list-item-avatar>
          <v-text-field
            class="input-comment"
            label="เขียนข้อความ..."
            v-model="comment"
            @keydown.enter="sendComment($event, post.post_id)"
            light
            single-line
            solo
            hide-details
          ></v-text-field>
          <v-list-item-icon>
            <!-- <v-icon>mdi-emoticon-happy-outline</v-icon> -->
          </v-list-item-icon>
        </v-list-item>
        <div v-if="post.type !== 'course'">
          <!-- comment -->
          <v-list-item-group v-for="comment in post.comments" :key="comment._id">
            <v-list-item>
              <v-list-item-avatar class="mb-auto" color="grey">
                <a :href="`/profile/timeline/${comment.user_id}`" class="profile-link">
                  <img :src="`${comment.img}`" alt="avatar" />
                </a>
              </v-list-item-avatar>
              <v-list-item-content>
                <a :href="`/profile/timeline/${comment.user_id}`" class="profile-link">
                  <v-list-item-title>
                    <h5>{{ comment.fullname }}</h5>
                    <p class="mb-0">@{{ comment.username }}</p>
                  </v-list-item-title>
                </a>
                <v-list-item-content>
                  <p class="mb-0">{{ comment.comment }}</p>
                </v-list-item-content>
              </v-list-item-content>
            </v-list-item>
            <!-- reply field -->
            <v-list-item class="mb-4 pl-10" v-if="comment.reply == 0">
              <v-list-item-avatar color="grey">
                <img :src="`${img}`" alt="avatar" />
              </v-list-item-avatar>
              <v-text-field
                class="input-comment"
                label="เขียนข้อความ..."
                v-model="comment.input"
                @keydown.enter="sendReply($event, id, comment.comment_id, comment.input)"
                light
                single-line
                solo
                hide-details
              ></v-text-field>
              <v-list-item-icon>
                <!-- <v-icon>mdi-emoticon-happy-outline</v-icon> -->
              </v-list-item-icon>
            </v-list-item>
            <!-- reply -->
            <v-list-group class="reply-group" v-else append-icon>
              <template v-slot:activator>
                <v-list-item-content class="py-0 px-4" inset>
                  <v-list-item-title class="text-center">
                    <span>-- การตอบกลับ --</span>
                  </v-list-item-title>
                </v-list-item-content>
              </template>
              <v-list-item class="mb-4 pl-10" v-for="reply in comment.reply" :key="reply.sub_comment_id">
                <v-list-item-avatar class="mb-auto" color="grey">
                  <a :href="`/profile/timeline/${reply.user_id}`" class="profile-link">
                    <img :src="`${reply.img}`" alt="avatar" />
                  </a>
                </v-list-item-avatar>
                <v-list-item-content>
                  <a :href="`/profile/timeline/${reply.user_id}`" class="profile-link">
                    <v-list-item-title>
                      <h5>{{ reply.fullname }}</h5>
                      <p class="mb-0">@{{ reply.username }}</p>
                    </v-list-item-title>
                  </a>
                  <v-list-item-content>
                    <p class="mb-0">{{ reply.comment }}</p>
                  </v-list-item-content>
                </v-list-item-content>
              </v-list-item>
              <!-- reply field -->
              <v-list-item class="mb-4 pl-10">
                <v-list-item-avatar color="grey">
                  <img :src="`${img}`" alt="avatar" />
                </v-list-item-avatar>
                <v-text-field
                  class="input-comment"
                  label="เขียนข้อความ..."
                  v-model="comment.input"
                  @keydown.enter="sendReply($event, id, comment.comment_id, comment.input)"
                  light
                  single-line
                  solo
                  hide-details
                ></v-text-field>
                <v-list-item-icon>
                  <!-- <v-icon>mdi-emoticon-happy-outline</v-icon> -->
                </v-list-item-icon>
              </v-list-item>
            </v-list-group>
          </v-list-item-group>
        </div>
      </v-list>
    </v-card>

    <v-card class="pa-4 mb-10 post-card" v-if="post.type == 'course'">
      <v-tabs v-model="tab" slider-color="primary" color="primary">
        <v-tabs-slider color="primary" v-model="tab"></v-tabs-slider>
        <v-tab class="text-tab fw-600 text-black" :key="1">รายละเอียดหลักสูตร</v-tab>
        <v-tab class="text-tab fw-600 text-black" :key="2">เนื้อหาเพิ่มเติมในคอร์ส</v-tab>
        <v-tab class="text-tab fw-600 text-black" :key="3">ความคิดเห็น</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item :key="1">
          <v-card-text>
            <v-row>
              <v-col class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <h5>ชื่อหลักสูตร</h5>
              </v-col>
              <v-col class="col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <p class="mb-0">{{ post.title }}</p>
              </v-col>
              <v-col class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <h5>รหัสวิชา</h5>
              </v-col>
              <v-col class="col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <p class="mb-0">{{ post.course_id }}</p>
              </v-col>
              <v-col class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <h5>หมวด</h5>
              </v-col>
              <v-col class="col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <p class="mb-0">{{ post.subject }}</p>
              </v-col>
              <v-col class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <h5>ผู้สอน</h5>
              </v-col>
              <v-col class="col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <p class="mb-0">{{ post.fullname }}</p>
              </v-col>
              <v-col class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <h5>คำอธิบายหลักสูตร</h5>
              </v-col>
              <v-col class="col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <p class="mb-0">{{ post.description }}</p>
              </v-col>
              <v-flex xs12></v-flex>
            </v-row>
          </v-card-text>
        </v-tab-item>
        <v-tab-item :key="2">
          <v-expansion-panels flat>
            <v-expansion-panel class="elevation-0 mb-2" v-for="(list, index) in post.chapter" :key="`list${index}`">
              <v-expansion-panel-header class="panel-header px-4">
                <template v-slot:default>
                  <v-row no-gutters>
                    <v-col cols="12">
                      <h5>{{ list.title }}</h5>
                    </v-col>
                  </v-row>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="mb-2" v-for="sub in list.sub_chapter" :key="`lesson${sub._id}`">
                  <v-flex class="d-flex">
                    <v-icon size="20">mdi-checkbox-blank-circle</v-icon>
                    <h5 class="ml-4">{{ sub.title }}</h5>
                  </v-flex>
                  <div class="container">
                    <h6 class="mb-4 ml-4">เอกสารประกอบการเรียน</h6>
                    <ul class="ml-4">
                      <li v-for="files in sub.files" :key="files._id">
                        <a :href="`${apiUrl}/${files.file}`" target="_blank">
                          <p>{{ files.file_name }}</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="container">
                    <h6 class="mb-4 ml-4">ลิงก์ Youtube</h6>
                    <ul class="ml-4">
                      <li v-for="link in sub.video" :key="link._id">
                        <a :href="`${link.url}`" target="_blank">
                          <p>{{ link.title }}</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-tab-item>
        <v-tab-item :key="3">
          <v-list-item v-if="post.type !== 'post'">
            <v-list-item-avatar color="grey">
              <img :src="`${img}`" alt="avatar" />
            </v-list-item-avatar>
            <v-text-field
              class="input-comment"
              label="เขียนข้อความ..."
              v-model="comment"
              @keydown.enter="sendComment($event, post.post_id)"
              light
              single-line
              solo
              hide-details
            ></v-text-field>
            <v-list-item-icon>
              <!-- <v-icon>mdi-emoticon-happy-outline</v-icon> -->
            </v-list-item-icon>
          </v-list-item>
          <div v-if="post.type !== 'post'">
            <!-- comment -->
            <v-list-item-group v-for="comment in post.comments" :key="comment._id">
              <v-list-item>
                <v-list-item-avatar class="mb-auto" color="grey">
                  <a :href="`/profile/timeline/${comment.user_id}`" class="profile-link">
                    <img :src="`${comment.img}`" alt="avatar" />
                  </a>
                </v-list-item-avatar>
                <v-list-item-content>
                  <a :href="`/profile/timeline/${comment.user_id}`" class="profile-link">
                    <v-list-item-title>
                      <h5>{{ comment.fullname }}</h5>
                      <p class="mb-0">@{{ comment.username }}</p>
                    </v-list-item-title>
                  </a>
                  <v-list-item-content>
                    <p class="mb-0">{{ comment.comment }}</p>
                  </v-list-item-content>
                </v-list-item-content>
              </v-list-item>
              <!-- reply field -->
              <v-list-item class="mb-4 pl-10" v-if="comment.reply == 0">
                <v-list-item-avatar color="grey">
                  <img :src="`${img}`" alt="avatar" />
                </v-list-item-avatar>
                <v-text-field
                  class="input-comment"
                  label="เขียนข้อความ..."
                  v-model="comment.input"
                  @keydown.enter="sendReply($event, id, comment.comment_id, comment.input)"
                  light
                  single-line
                  solo
                  hide-details
                ></v-text-field>
                <v-list-item-icon>
                  <!-- <v-icon>mdi-emoticon-happy-outline</v-icon> -->
                </v-list-item-icon>
              </v-list-item>
              <!-- reply -->
              <v-list-group class="reply-group" v-else append-icon>
                <template v-slot:activator>
                  <v-list-item-content class="py-0 px-4" inset>
                    <v-list-item-title class="text-center">
                      <span>-- การตอบกลับ --</span>
                    </v-list-item-title>
                  </v-list-item-content>
                </template>
                <v-list-item class="mb-4 pl-10" v-for="reply in comment.reply" :key="reply.sub_comment_id">
                  <v-list-item-avatar class="mb-auto" color="grey">
                    <a :href="`/profile/timeline/${reply.user_id}`" class="profile-link">
                      <img :src="`${reply.img}`" alt="avatar" />
                    </a>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <a :href="`/profile/timeline/${reply.user_id}`" class="profile-link">
                      <v-list-item-title>
                        <h5>{{ reply.fullname }}</h5>
                        <p class="mb-0">@{{ reply.username }}</p>
                      </v-list-item-title>
                    </a>
                    <v-list-item-content>
                      <p class="mb-0">{{ reply.comment }}</p>
                    </v-list-item-content>
                  </v-list-item-content>
                </v-list-item>
                <!-- reply field -->
                <v-list-item class="mb-4 pl-10">
                  <v-list-item-avatar color="grey">
                    <img :src="`${img}`" alt="avatar" />
                  </v-list-item-avatar>
                  <v-text-field
                    class="input-comment"
                    label="เขียนข้อความ..."
                    v-model="comment.input"
                    @keydown.enter="sendReply($event, id, comment.comment_id, comment.input)"
                    light
                    single-line
                    solo
                    hide-details
                  ></v-text-field>
                  <v-list-item-icon>
                    <!-- <v-icon>mdi-emoticon-happy-outline</v-icon> -->
                  </v-list-item-icon>
                </v-list-item>
              </v-list-group>
            </v-list-item-group>
          </div>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
    <vue-gallery-slideshow :images="arrImg" :index="imgIndex" @close="imgIndex = null"></vue-gallery-slideshow>
  </div>
</template>

<script src="./ViewPost"></script>