<template>
  <v-card class="px-0 py-8 mb-4 elevation-4 card-post">
    <v-flex class="d-inline-flex justify-center w-100 mx-auto">
      <img :src="iconCourse" class="add-course" alt="avatar" />
      <h4 class="text-center mt-auto ml-4">สร้างรายวิชา</h4>
    </v-flex>
    <v-stepper v-model="stepper" class="elevation-0">
      <v-stepper-header class="flex-nowrap elevation-0">
        <div class="step" v-for="(step, index) in steps" :key="index">
          <v-stepper-step :step="''" :complete="index + 1 <= stepper" :key="index">{{ step.label }}</v-stepper-step>
        </div>
      </v-stepper-header>
      <v-stepper-items>
        <!-- first -->
        <v-stepper-content step="1">
          <v-form v-model="forms[0].valid" :ref="forms[0].ref" lazy-validation>
            <v-card color="white" class="pa-3 pa-sm-16 mb-4 elevation-0">
              <v-row class="justify-center">
                <v-col class="d-flex col-12 col-sm-10 col-md-9 mb-4">
                  <CoverPreview :img="imgPreview" @onclickClose="removeImage()">
                    <template v-slot:tools>
                      <BtnUpload size="sm" theme="light" absolute @onchangeHandler="onchangeHandler" v-if="!imgPreview">
                        แก้ไขรูปภาพ
                      </BtnUpload>
                    </template>
                  </CoverPreview>
                </v-col>
                <v-flex xs12></v-flex>
                <h4 class="primary--text" v-if="$route.query.groupName">กลุ่ม{{ $route.query.groupName }}</h4>
                <v-flex xs12></v-flex>
                <v-col class="col-12 col-sm-4 col-md-3" v-if="!$route.query.groupID">
                  <v-select
                    v-model="course.privacy"
                    class="elevation-0 mr-0 mr-sm-2"
                    :items="privacies"
                    item-text="text"
                    item-value="status"
                    label="เลือกความเป็นส่วนตัว"
                    outlined
                    solo
                    hide-details
                    offset-y
                    dense
                    v-if="course.privacy !== 'group' &&  $route.name == 'CreateCourse'"
                  >
                    <template slot="selection" slot-scope="data">
                      <img :src="iconPublic" alt v-if="data.item.status == 'public'" />
                      <v-icon color="black" v-else>mdi-account</v-icon>
                      <h6 class="ml-2">{{ data.item.text }}</h6>
                    </template>
                    <template slot="item" slot-scope="data">
                      <v-flex class="d-flex">
                        <img :src="iconPublic" alt v-if="data.item.status == 'public'" />
                        <v-icon color="black" v-else>mdi-account</v-icon>
                        <h6 class="ml-2">{{ data.item.text }}</h6>
                      </v-flex>
                    </template>
                  </v-select>
                </v-col>
                <v-flex xs12 sm8 md9></v-flex>
                <v-flex xs12></v-flex>
                <v-col class="d-flex col-12 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0">
                  <h5 class="mt-auto mb-auto">หัวข้อ</h5>
                </v-col>
                <v-col class="d-flex col-12 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0">
                  <v-text-field v-model="course.caption" placeholder="หัวข้อ1" :rules="[rules.required]"></v-text-field>
                </v-col>
                <v-flex xs12></v-flex>
                <v-col class="d-flex col-12 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0">
                  <h5 class="mt-auto mb-auto">ชื่อหลักสูตร</h5>
                </v-col>
                <v-col class="d-flex col-12 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0">
                  <v-text-field
                    v-model="course.title"
                    placeholder="ชื่อหลักสูตร1"
                    :rules="[rules.required]"
                  ></v-text-field>
                </v-col>
                <v-flex xs12></v-flex>
                <v-col class="d-flex col-12 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0">
                  <h5 class="mt-auto mb-auto">คำอธิบายหลักสูตร</h5>
                </v-col>
                <v-col class="d-flex col-12 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0">
                  <v-text-field
                    v-model="course.description"
                    placeholder="คำอธิบายหลักสูตร1"
                    :rules="[rules.required]"
                  ></v-text-field>
                </v-col>
                <v-flex xs12></v-flex>
                <v-col class="d-flex col-12 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0">
                  <h5 class="mt-auto mb-auto">หมวด</h5>
                </v-col>
                <v-col class="d-flex col-12 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0">
                  <v-text-field v-model="course.subject" placeholder="หมวด1" :rules="[rules.required]"></v-text-field>
                </v-col>
                <v-flex xs12></v-flex>
                <v-col class="d-flex col-12 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0">
                  <h5 class="mt-auto mb-auto">รหัสวิชา</h5>
                </v-col>
                <v-col class="d-flex col-12 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0">
                  <v-text-field
                    v-model="course.course_id"
                    placeholder="รหัสวิชา1"
                    :rules="[rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-card>
          </v-form>
          <v-card-actions class="d-flex">
            <BtnSm class="btn-primary btn-rounded-pill btn-nav mx-auto" @click.native="nextTab(2)">ถัดไป</BtnSm>
          </v-card-actions>
        </v-stepper-content>

        <!-- second step -->
        <v-stepper-content step="2">
          <v-form v-model="forms[1].valid" :ref="forms[1].ref" lazy-validation>
            <v-card class="mb-8 pa-2 elevation-0 form-card">
              <h5>เพิ่มบทเรียนในรายวิชา</h5>
              <v-divider class="mt-4 mb-4"></v-divider>
              <v-expansion-panels flat accordion focusable>
                <v-expansion-panel class="elevation-0 mb-2" v-for="(chapter, i) in course.chapter" :key="`chapter${i}`">
                  <v-expansion-panel-header class="border-verticle rounded-0">
                    <template v-slot:default="{ open }">
                      <v-row no-gutters>
                        <v-col class="col-4 px-1"> <h5>ชื่อบทเรียน:</h5> </v-col>
                        <v-col class="col-8 secondary--text">
                          <v-fade-transition leave-absolute>
                            <h5 v-if="open" key="0">{{ chapter.title || "ระบุชื่อบทเรียน" }}</h5>
                            <h5 v-else key="1">
                              {{ chapter.title }}
                            </h5>
                          </v-fade-transition>
                        </v-col>
                      </v-row>
                    </template>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-row no-gutters class="py-2">
                      <v-col class="col-12 col-sm-8">
                        <v-text-field
                          v-model="chapter.title"
                          placeholder="ระบุชื่อบทเรียน"
                          :rules="[rules.required]"
                          dense
                        ></v-text-field>
                      </v-col>
                      <v-col class="col-12 col-sm-4">
                        <v-btn
                          class="my-auto mr-2 elevation-0 error--text"
                          width="40"
                          height="40"
                          @click="pushSubChapter(i)"
                          icon
                          outlined
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                        <v-btn
                          class="my-auto mr-2 elevation-0 error--text"
                          width="40"
                          height="40"
                          @click="deleteChapter(i)"
                          icon
                          outlined
                        >
                          <v-icon>mdi-minus</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-expansion-panel-content>
                  <v-expansion-panel-content class="pa-0">
                    <div class="mt-4 pl-0 pl-sm-8" v-for="(sub, inx) in chapter.sub_chapter" :key="`sub${inx}`">
                      <JointSplit />
                      <v-card color="grey lighten-4 elevation-0 pa-2 dash" class="list-subchapter mb-4">
                        <v-row>
                          <v-col class="d-flex justify-space-between">
                            <v-text-field
                              v-model="sub.title"
                              placeholder="ชื่อหัวข้อ"
                              label="ระบุชื่อหัวข้อ"
                              class="mr-2 mb-6"
                              hide-details="auto"
                              :rules="[rules.required]"
                            ></v-text-field>
                            <v-btn
                              class="my-auto elevation-0 error--text"
                              width="40"
                              height="40"
                              @click="deleteSubChapter(i, inx)"
                              icon
                              outlined
                            >
                              <v-icon>mdi-minus</v-icon>
                            </v-btn>
                          </v-col>
                        </v-row>
                        <div class="separator">Link Youtube</div>
                        <v-row
                          class="list-links pb-0 mb-10 justify-center"
                          v-for="(link, index) in sub.video"
                          :key="`links${index}`"
                          no-gutters
                        >
                          <v-col class="col-8 py-0">
                            <v-text-field
                              v-model="link.title"
                              placeholder="ชื่อลิ้งก์"
                              label="ชื่อลิ้งก์"
                              hide-details="auto"
                              :rules="[rules.required]"
                            ></v-text-field>
                          </v-col>
                          <v-col class="col-4 d-flex justify-center py-0">
                            <v-btn
                              class="mt-auto elevation-0 icon-highlight error--text"
                              width="40"
                              height="40"
                              @click="deleteLink(i, inx, index)"
                              icon
                              outlined
                            >
                              <v-icon>mdi-trash-can</v-icon>
                            </v-btn>
                          </v-col>
                          <v-flex xs12></v-flex>
                          <v-col class="col-12 py-0">
                            <v-text-field
                              v-model="link.url"
                              placeholder="แนบลิ้งก์ Youtube"
                              label="แนบลิ้งก์ Youtube"
                              class="ml-1"
                              hide-details="auto"
                              :rules="[rules.required]"
                            ></v-text-field>
                          </v-col>
                          <v-col class="col-12 py-0">
                            <v-text-field
                              v-model="link.description"
                              placeholder="คำอธิบายลิ้งก์"
                              label="คำอธิบายลิ้งก์"
                              class="ml-1"
                              hide-details="auto"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row class="justify-center" no-gutters>
                          <v-col class="col-12">
                            <v-btn class="btn-md error--text" @click="addLink(i, inx)" outlined>
                              <v-icon color="error">mdi-plus</v-icon>
                              <p class="mb-0 text-highlight">เพิ่มลิงก์ Youtube</p>
                            </v-btn>
                          </v-col>
                        </v-row>
                        <div class="separator mt-10">แนบไฟล์</div>
                        <v-row
                          class="list-files justify-center"
                          v-for="(file, index) in sub.files"
                          :key="`file${index}`"
                          no-gutters
                        >
                          <v-col class="col-12 col-sm-8">
                            <v-text-field
                              v-model="file.file_name"
                              placeholder="ชื่อไฟล์ PDF"
                              label="ชื่อไฟล์ PDF"
                              :rules="[rules.required]"
                            ></v-text-field>
                          </v-col>
                          <v-col class="col-6 col-sm-3 d-flex justify-center mt-4 mt-sm-0">
                            <BtnUpload
                              class="middle"
                              @onchangeHandler="onChangeFile($event, i, inx, index)"
                              theme="dark"
                              :isDisabled="!!file.file"
                            />
                            <v-icon color="success" v-if="!!file.file">mdi-check-circle</v-icon>
                            <v-icon color="error" v-else>mdi-close-circle</v-icon>
                          </v-col>
                          <v-col class="col-6 col-sm-1 d-flex justify-center mt-4 mt-sm-0">
                            <v-btn
                              class="middle elevation-0 icon-highlight error--text"
                              width="40"
                              height="40"
                              @click="deleteFile(i, inx, index)"
                              icon
                              outlined
                            >
                              <v-icon>mdi-trash-can</v-icon>
                            </v-btn>
                          </v-col>
                        </v-row>
                        <v-row class="justify-center mt-4 mt-sm-0" no-gutters>
                          <v-col class="col-12 d-flex justify-center">
                            <v-btn class="btn-md error--text" @click="addFile(i, inx)" outlined>
                              <v-icon class="error--text">mdi-plus</v-icon>
                              <p class="error--text">เพิ่มไฟล์ PDF</p>
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-card>
                    </div>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-card>
          </v-form>
          <v-flex class="d-flex mx-4 mb-4">
            <v-spacer></v-spacer>
            <h5 class="error--text my-auto mr-2">เพิ่มบทเรียน</h5>
            <v-btn
              class="my-auto mr-2 elevation-0 error--text"
              width="40"
              height="40"
              @click="pushChapter()"
              icon
              outlined
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-flex>

          <v-card-actions class="d-flex">
            <BtnSm class="btn-primary btn-rounded-pill btn-nav ml-auto" @click.native="prevTab(1)">ย้อนกลับ</BtnSm>
            <BtnSm class="btn-primary btn-rounded-pill btn-nav mr-auto" @click.native="nextTab(3)">ถัดไป</BtnSm>
          </v-card-actions>
        </v-stepper-content>

        <!-- previews -->
        <v-stepper-content step="3">
          <v-card color="white" class="mb-4 elevation-0">
            <v-card color="grey lighten-4" class="elevation-0 mb-8 preview-card">
              <v-row>
                <v-col class="col-12 col-lg-3 col-sm-4 pa-0">
                  <div class="img-preview img-cover">
                    <img :src="imgPreview" alt />
                  </div>
                </v-col>
                <v-col class="col-12 col-lg-9 col-sm-8 d-flex">
                  <v-row class="mt-auto mb-auto">
                    <v-col class="col-12 col-md-4 col-sm-12 col-xs-12 d-flex">
                      <h5 class="mt-auto mb-auto">ชื่อหลักสูตร:</h5>
                    </v-col>
                    <v-col class="col-12 col-md-8 col-sm-8 col-xs-12 d-flex">
                      <p class="mt-auto mb-auto">{{ course.title }}</p>
                    </v-col>
                    <v-flex xs12></v-flex>
                    <v-col class="col-12 col-md-4 col-sm-12 col-xs-12 d-flex">
                      <h5 class="mt-auto mb-auto">คำอธิบายหลักสูตร:</h5>
                    </v-col>
                    <v-col class="col-12 col-md-8 col-sm-8 col-xs-12 d-flex">
                      <p class="mt-auto mb-auto">{{ course.description }}</p>
                    </v-col>
                    <v-flex xs12></v-flex>
                    <v-col class="col-12 col-md-4 col-sm-12 col-xs-12 d-flex">
                      <h5 class="mt-auto mb-auto">หมวด:</h5>
                    </v-col>
                    <v-col class="col-12 col-md-8 col-sm-8 col-xs-12 d-flex">
                      <p class="mt-auto mb-auto">{{ course.subject }}</p>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card>
            <h5>บทเรียนในหลักสูตร</h5>
            <v-divider class="mb-8"></v-divider>
            <v-card class="elevation-0 mb-4 pa-4" v-for="(chapter, i) in course.chapter" :key="`chapter${i}`">
              <v-expansion-panels flat class="pa-0">
                <v-expansion-panel class="elevation-0 mb-2">
                  <v-expansion-panel-header prepend-icon="mdi-arrow" color="grey lighten-4" class="pa-1">
                    <template v-slot:default>
                      <v-row class="pa-0 justify-space-between">
                        <v-col class="col-8 d-block d-md-flex">
                          <label for="youtube-name" class="mt-auto mb-auto pr-4">
                            <h5 class="mt-auto mb-auto">ชื่อบทเรียน:</h5>
                          </label>
                          <p class="mb-auto mt-auto">{{ chapter.title }}</p>
                        </v-col>
                      </v-row>
                    </template>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content class="pa-0 ml-6">
                    <div class="mt-4">
                      <v-card
                        color="grey lighten-4 elevation-0 pa-2"
                        class="list-subchapter mb-4"
                        v-for="(sub, inx) in chapter.sub_chapter"
                        :key="`sub${inx}`"
                      >
                        <v-row class="justify-center">
                          <v-col class="col-12 col-lg-11 d-block d-md-flex">
                            <label for="header" class="mt-auto mb-auto mr-4">
                              <h5>ชื่อหัวข้อ:</h5>
                            </label>
                            <p class="mb-auto mt-auto">{{ sub.title }}</p>
                          </v-col>
                        </v-row>
                        <v-row
                          class="list-links pb-0 justify-center"
                          v-for="(link, index) in sub.video"
                          :key="`links${index}`"
                        >
                          <v-col class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 d-block d-md-flex">
                            <label for="youtube-name" class="mt-auto mb-auto pr-4">
                              <h5>ชื่อลิงก์ Youtube:</h5>
                            </label>
                            <p class="mb-auto mt-auto">{{ link.title }}</p>
                          </v-col>
                          <v-col class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 d-block d-md-flex">
                            <label for="youtube-link" class="mt-auto mb-auto pr-4">
                              <h5>แนบลิงก์ Youtube:</h5>
                            </label>
                            <p class="mb-auto mt-auto">{{ link.url }}</p>
                          </v-col>
                        </v-row>
                        <v-row
                          class="list-files justify-center"
                          v-for="(file, index) in sub.files"
                          :key="`file${index}`"
                        >
                          <v-col class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 d-block d-md-flex">
                            <label for="file-name" class="mt-auto mb-auto pr-4">
                              <h5>ชื่อไฟล์ PDF:</h5>
                            </label>
                            <p class="mb-auto mt-auto">{{ file.file_name }}</p>
                          </v-col>
                          <v-col class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 d-block d-md-flex">
                            <label for="file" class="mt-auto mb-auto pr-4">
                              <h5>แนบไฟล์ PDF:</h5>
                            </label>
                            <p class="mb-auto mt-auto">{{ file.file_name }}</p>
                          </v-col>
                        </v-row>
                      </v-card>
                    </div>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-card>
          </v-card>
          <v-card-actions class="d-flex">
            <BtnSm class="btn-primary btn-rounded-pill btn-nav ml-auto" @click.native="prevTab(2)">ย้อนกลับ</BtnSm>
            <BtnSm class="btn-primary btn-rounded-pill btn-nav mr-auto" @click.native="submit()">บันทึก</BtnSm>
          </v-card-actions>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-card>
</template>

<script src="./CreateCourse"></script>