<template>
  <div class="login-wrapper">
    <ToolbarAuth path="/register" text="สมัครสมาชิก" />
    <img :src="imgLogo" class="logo-brand mb-4" alt="" />
    <h2 class="text-black text-stong mb-4">เข้าสู่ระบบ</h2>
    <v-form class="login-form" ref="loginForm" v-model="isValid" lazy-validation @submit.prevent="submit()" :aria-autocomplete="remember">
      <v-row class="justify-center text-center">
        <InputGroup v-model="account.username" :layout="layout" label="อีเมล" placeholder="อีเมล" :validates="[rules.required]" />
        <v-flex xs12></v-flex>
        <InputGroup
          v-model="account.password"
          type="password"
          :layout="layout"
          label="รหัสผ่าน"
          placeholder="รหัสผ่าน"
          :validates="[rules.required]"
        />
        <v-flex xs12></v-flex>
        <v-col :class="`${layout} px-4 py-0 d-flex justify-space-between`">
          <CheckBox v-model="remember" label="จำรหัสผ่าน" />
          <div class="w-100 text-right pointer middle" @click="visibleModal = true">ลืมรหัสผ่าน</div>
        </v-col>
        <v-flex xs12></v-flex>
        <h4 class="text-black text-strong">หรือ เข้าสู่ระบบโดย</h4>
        <v-flex xs12></v-flex>
        <v-col class="col-12 text-center d-inline-block">
          <v-row class="justify-center">
            <img
              class="d-inline-flex mr-4 btn-social"
              :src="imgFacebook"
              alt="facebook"
              @click="socialFacecbookLogin()"
            />
            <img class="d-inline-flex ml-4 btn-social" :src="imgGoogle" alt="google+" @click="socialGoogleLogin()" />
          </v-row>
        </v-col>
        <BtnSpecial class="btn-dark btn-rounded-pill mt-4 mt-sm-8" type="submit" :isLoading="isLoading" :isDisabled="isLoading">เข้าสู่ระบบ</BtnSpecial>
      </v-row>
    </v-form>
    <ModalForgetPassword v-model="visibleModal" @submit="sendEmail"/>
  </div>
</template>

<script src="./Login"></script>

<style lang="scss" scoped>
.login-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 64px 16px;
  background-image: url("~@/assets/images/bg/bg-login.png"), linear-gradient(#ffffff 0%, #fad0b5 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .logo-brand {
    width: 120px;
    height: 170px;
  }

  .text-login {
    font-size: 28px;
  }

  .login-form {
    width: 100%;
    max-width: 750px;
    text-align: center;
  }
}
</style>
