<template>
  <v-btn class="btn-sm" :loading="isLoading" :disabled="isDisabled" :to="link" icon small>
    <slot>
      <v-icon :size="`${iconSize}`">{{ icon }}</v-icon>
    </slot>
  </v-btn>
</template>

<script>
export default {
  props: {
    isLoading: {
      type: Boolean
    },
    isDisabled: {
      type: Boolean
    },
    link: {
      type: String
    },
    icon: {
      type: String
    },
    iconSize: {
      type: Number,
      default:() => 30
    }
  }
}
</script>
