<template>
  <div class="login-wrapper">
    <h2 class="text-black text-stong mb-4">ตั้งรหัสผ่านใหม่</h2>
    <v-form class="login-form" ref="resetForm" v-model="isValid" lazy-validation @submit.prevent="submit()">
      <v-row class="justify-center text-center">
        <InputGroup
          v-model="account.password"
          type="password"
          :layout="layout"
          label="รหัสผ่าน"
          placeholder="รหัสผ่าน"
          :validates="[rules.required, rules.password]"
        />
        <v-flex xs12></v-flex>
        <InputGroup
          v-model="account.confirm_password"
          type="password"
          :layout="layout"
          label="ยืนยันรหัสผ่าน"
          placeholder="ยืนยันรหัสผ่าน"
          :validates="[rules.required, rules.password, rules.match(account.password, account.confirm_password)]"
        />
        <v-flex xs12></v-flex>
        <BtnSpecial
          class="btn-dark btn-rounded-pill mt-4 mt-sm-8"
          type="submit"
          :isLoading="isLoading"
          :isDisabled="isLoading"
          >ตกลง</BtnSpecial
        >
      </v-row>
    </v-form>
  </div>
</template>

<script src="./ResetPassword"></script>

<style lang="scss" scoped>
.login-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 64px 16px;
  background-image: url("~@/assets/images/bg/bg-login.png"), linear-gradient(#ffffff 0%, #fad0b5 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .logo-brand {
    width: 120px;
    height: 170px;
  }

  .text-login {
    font-size: 28px;
  }

  .login-form {
    width: 100%;
    max-width: 750px;
    text-align: center;
  }
}
</style>