<template>
  <div class="wrapper-member">
    <v-row class="justify-center mb-6">
      <v-col class="col-12 text-center" v-if="admins.length">
        <h5>แอดมิน</h5>
      </v-col>
      <v-col
        class="col-6 col-sm-4 col-md-3 text-center d-flex flex-column"
        v-for="(admin, index) in admins"
        :key="`admin-${index}`"
      >
        <Avatar :image="admin.profile" :link="`/profile/timeline/${admin.user_id}`" :size="70" removeMargin />
        {{ admin.fullname }}
      </v-col>
    </v-row>
    <v-row class="justify-center mb-6">
      <v-col class="col-12 text-center" v-if="coleaders.length">
        <h5>ผู้ดูแล ({{ coleaders.length }})</h5>
      </v-col>
      <v-col
        class="col-6 col-sm-4 col-md-3 text-center d-flex flex-column"
        v-for="(coleader, index) in coleaders"
        :key="`coleader-${index}`"
      >
        <Avatar :image="coleader.profile" :link="`/profile/timeline/${coleader.user_id}`" />
        <p>
          {{ coleader.fullname }}
          <span v-if="status == 'admin'"> <v-icon size="18" @click="openModal(coleader.user_id, coleader.member_type, coleader.profile, coleader.fullname)">mdi-cog</v-icon> </span>
        </p>
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-col class="col-12 text-center" v-if="members.length">
        <h5>สมาชิก ({{ members.length }})</h5>
      </v-col>
      <v-col
        class="col-6 col-sm-4 col-md-3 text-center d-flex flex-column"
        v-for="(member, index) in members"
        :key="`member-${index}`"
      >
        <Avatar :image="member.profile" :link="`/profile/timeline/${member.user_id}`" />
        <p>
          {{ member.fullname }}
          <span v-if="status !== 'member'"> <v-icon size="18" @click="openModal(member.user_id,  member.member_type,  member.profile, member.fullname)">mdi-cog</v-icon> </span>
        </p>
      </v-col>
    </v-row>
    <ModalMember :value="visibleModal" @input="closeModal" title="จัดการสมาชิก" :id="id" :img="img" :fullname="fullname" :type="type" />
  </div>
</template>
 
 <script src="./Member"></script>