<template>
  <v-card class="mb-5 post-card" v-if="isStarter">
    <v-card-title>
      <h4>แก้ไขโพสต์</h4>
    </v-card-title>
    <v-divider></v-divider>
    <v-tabs-items class="text-center" v-model="tab">
      <v-tab-item :key="1">
        <v-container>
          <v-row>
            <v-list-item class="profile-list d-flex">
              <Avatar :image="user.img" :size="50" @click.native="goPage(`/profile/timeline/${user.userId}`)" />
              <v-list-item-content class="text-start" @click="goPage(`/profile/timeline/${user.userId}`)">
                <v-list-item-title>
                  <h5>{{ user.fullname }}</h5>
                </v-list-item-title>
                <v-list-item-subtitle>
                  <p class="mb-0">@{{ user.username }}</p>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-form class="w-100" v-model="form[0].valid" :ref="form[0].ref" lazy-validation>
              <TextArea
                v-model="post.title"
                class="pt-4 pb-2"
                placeholder="เขียนโพสต์..."
                :validates="[rules.required]"
              />
            </v-form>
            <v-flex xs12></v-flex>
          </v-row>
        </v-container>
      </v-tab-item>
      <v-tab-item :key="2">
        <v-card-text>
          <v-container>
            <v-form class="w-100" v-model="form[1].valid" :ref="form[1].ref" lazy-validation>
              <TextArea v-model="post.title" :row="3" placeholder="เขียนโพสต์..." :validates="[rules.required]" />
              <v-row class="justify-center">
                <v-col class="col-auto" v-for="(img, index) in post.files" :key="index">
                  <ImgPreview :img="`${apiURL}${img.file.file}`" @onclickClose="removeOldFile(img.file._id)" />
                </v-col>
                <v-col class="col-auto" v-for="(img, index) in imgPreview" :key="index">
                  <ImgPreview :img="img" @onclickClose="removeImage(index)" />
                </v-col>
                <v-flex xs12></v-flex>
                <v-flex xs12></v-flex>
                <BoxUpload
                  class="mt-4"
                  @onchangeHandler="onchangeHandlerImg"
                  v-if="imgPreview.length + post.files.length < 3"
                />
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-tab-item>
      <v-tab-item :key="3">
        <v-container>
          <v-form class="w-100" v-model="form[0].valid" :ref="form[0].ref" lazy-validation>
            <v-row class="justify-center">
              <v-col class="col-12 pa-0">
                <TextArea v-model="post.title" :row="3" placeholder="เขียนโพสต์..." :validates="[rules.required]" />
              </v-col>
              <InputGroup
                v-model="linkYoutube"
                layout="col-12 pb-4"
                label="เพิ่มลิงก์ Youtube..."
                placeholder="เพิ่มลิงก์ Youtube..."
              />
              <v-flex xs12></v-flex>
              <v-col class="col-12 col-md-5 col-sm-6 text-left" v-if="post.link">
                <p>ตัวอย่าง</p>
                <iframe
                  class="video-frame"
                  :src="`https://www.youtube.com/embed/${post.link}`"
                  width="100%"
                  height="220px"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-tab-item>
      <v-tab-item :key="4">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col class="col-12 pa-0">
                <TextArea
                  v-model="post.title"
                  class="pt-4 pb-2"
                  placeholder="เขียนโพสต์..."
                  :validates="[rules.required]"
                />
              </v-col>
              <v-flex xs12></v-flex>
              <v-col class="col-12 pt-0 pb-0">
                <BoxUpload @onchangeHandler="onchangeHandlerFile">
                  <template v-slot="{ on }">
                    <v-card class="card-upload" v-on="on" outlined>
                      <v-icon class="flipped">mdi-attachment mdi-rotate-45</v-icon>
                      <h4><span class="primary--text">เลือกไฟล์</span>หรือวางไฟล์ที่นี่</h4>
                      <small>(สูงสุด 3 ไฟล์)</small>
                    </v-card>
                  </template>
                </BoxUpload>
              </v-col>
              <v-col
                class="col-12 py-1 d-flex justify-space-between"
                v-for="(pdf, index) in post.files"
                :key="`file-${index}`"
              >
                <a target="_blank" :href="apiURL + pdf.file.file">
                  <p>{{ pdf.file.file_name }}</p>
                </a>
                <v-spacer></v-spacer>
                <v-icon color="black" class="mb-auto" @click="removeOldFile(pdf.file._id)">mdi-close</v-icon>
              </v-col>
              <v-col
                class="col-12 py-1 d-flex justify-space-between"
                v-for="(file, index) in fileList"
                :key="`file-${index}`"
              >
                <p>{{ file.name }}</p>
                <v-spacer></v-spacer>
                <p>{{ file.size | filterSize }}</p>
                <v-icon color="black" class="mb-auto" @click="removeFile(index)">mdi-close</v-icon>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-tab-item>
    </v-tabs-items>
    <v-divider></v-divider>
    <v-card-actions class="d-flex justify-center mt-2 mb-4">
      <BtnSm class="btn-primary btn-rounded-pill d-none d-sm-inline-flex ml-auto" @click="cancleEdit()"> ยกเลิก </BtnSm>
      <BtnSm
        class="btn-primary btn-rounded-pill d-none d-sm-inline-flex mr-auto"
        :isLoading="isLoading"
        :isDisabled="isLoading"
        @click.native="submit()"
      >
        บันทึก
      </BtnSm>
    </v-card-actions>
  </v-card>
</template>

<script src="./EditPost"></script>