$btn-height-sm: 35px !important;
$btn-height: 40px !important;
$btn-height-md: 50px !important;
$btn-width-xs: 50px !important;
$btn-width-sm: 150px !important;
$btn-width-md: 200px !important;
$btn-width-lg: 250px !important;
$btn-width-xl: 300px !important;
$btn-width-special: 400px !important;

.v-btn {
    min-height: $btn-height;
    box-shadow: $box-shadow-none;
    width: 100%;
    letter-spacing: 0.5 !important;

    &.btn-xs {
        min-height: $btn-height-sm;
        max-width: $btn-width-xs;
    }
    &.btn-sm {
        min-height: $btn-height-sm;
        max-width: $btn-width-sm;
    }
    &.btn-md {
        max-width: $btn-width-md;
    }
    &.btn-lg {
        max-width: $btn-width-lg;
    }
    &.btn-xl {
        max-width: $btn-width-xl;
    }
    &.btn-special {
        min-height: 50px !important;
        max-width: $btn-width-special;
    }
    &.btn-rounded-circle {
        border-radius: $border-radius-rounded;
    }
    &.btn-rounded-pill {
        border-radius: $border-radius-pill;
    }
    &.btn-rounded-none {
        border-radius: $border-radius-none;
    }
    &.btn-dark {
        background-color: $black !important;
        color: $white !important;

        &:hover {
            background-color: $white !important;
            color: $black !important;
            border-color: $black !important;
        }
    }
    &.btn-primary {
        background-color: $primary--color !important;
        border: 1px solid $primary--color !important;
        color: $white !important;

        &:hover {
            background-color: $white !important;
            color: $primary--color !important;
            border: 1px solid $primary--color !important;
        }
    }
    &.btn-primary-outline {
        background-color: $white !important;
        color: $primary--color !important;
        border: 1px solid $primary--color !important;

        &:hover {
            background-color: $primary--color !important;
            border: 1px solid $primary--color !important;
            color: $white !important;
        }
    }
    &.btn-secondary {
        background-color: $secondary--color !important;
        border: 1px solid $secondary--color !important;
        color: $white !important;

        &:hover {
            background-color: $white !important;
            color: $secondary--color !important;
            border: 1px solid $secondary--color !important;
        }
    }
    &.btn-error {
        background-color: $red--highlight !important;
        border: 1px solid $red--highlight !important;
        color: $white !important;

        &:hover {
            background-color: $white !important;
            color: $red--highlight !important;
            border: 1px solid $red--highlight !important;
        }
    }
    &.btn-light {
        background-color: $white !important;
        color: $black !important;
        border: 1px solid $black !important;
        color: $black;
    }
    &.btn-transparent {
        background-color: transparent !important;
        color: $white !important;
        border: 1px solid $white !important;
        color: $white;
    }
    &.btn-tag-primary {
        background-color: rgba($color: $red--highlight, $alpha: 0.35) !important;
        color: $red--highlight !important;
        border-radius: $border-radius-pill;
        max-width: 150px;

        &.disabled {
            pointer-events: none;
        }
    }
    &.btn-upload {
        min-height: 50px !important;
    }
    &.btn-height-md {
        min-height: $btn-height-md;
    }
    &.btn-avatar-sidebar {
        border-top: 1px solid $secondary--color;
        border-bottom: 1px solid $secondary--color;
    }
    &.btn-cover-upload {
        position: absolute;
        z-index: 99;
        top: 5px;
        right: 10px;
    }
}

.btn-tag-subject {
    width: 100%;
    max-width: 160px;
    height: 30px;
    padding: 0 12px;
    align-items: center;
    background-color: rgba($color: $red--highlight, $alpha: 0.5) !important;
    border-radius: $border-radius-pill;
    color: $red--highlight !important;
    line-height: 30px !important;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
    &:hover {
        background-color: rgba($color: $red--highlight, $alpha: 0.5) !important;
        color: $red--highlight !important;
    }
}
// .tag-subject {
//     width: auto !important;
//     height: 30px !important;
//     min-width: 50px !important;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     justify-content: start;
//     padding: 0 8px !important;
//     font-size: 14px !important;
//     &.list-subject {
//         width: auto !important;
//     }
// }

.btn-create {
    border-radius: $border-radius-xs;
}

.btn-add-row {
    min-width: 35px !important;
    width: 35px !important;
    height: 35px !important;
    background-color: rgba($color: $white, $alpha: 0.35) !important;
    border: 1px solid $red--highlight !important;
    border-radius: 50% !important;
}

.btn-youtube {
    background: #fd0d1b !important;
    border-radius: $border-radius-xs;
    width: 50px;
    height: 30px;
    min-width: 30px !important;
    min-height: 30px !important;
}

.btn-close {
    width: 35px;
    height: 35px !important;
    min-width: 35px !important;
    border-radius: $border-radius-rounded;
    border: 1px solid $black !important;
}

.btn-post {
    box-shadow: $box-shadow-none;
    color: $white !important;
    border-radius: $border-radius-md;
    border: 1px solid $primary--color;
    height: 35px;
    width: 150px;
    &.post-tabs {
        background: $primary--color !important;
        color: $white !important;
    }
    &.is-follow {
        background: $white !important;
        color: $primary--color !important;
        &:hover {
            background: $primary--color !important;
            color: $white !important;
        }
    }
    &.un-follow {
        background: $primary--color !important;
        color: $white !important;
        &:hover {
            background: $white !important;
            color: $primary--color !important;
        }
    }
    &.post-course {
        background: $primary--color !important;
        color: $white !important;
    }
}

.btn-input-file {
    position: relative;
    width: 180px !important;
    input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    &.btn-file-course {
        min-height: 30px !important;
        height: 40px !important;
    }
}

img.btn-social {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn-profile-post {
    width: 40px;
    height: 40px;
}

.icon-highlight {
    border-radius: $border-radius-rounded;
    .v-icon {
        font-size: 32px !important;
    }
    &:hover {
        .v-icon:before {
            color: $red--highlight;
        }
    }
}

.theme--dark.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: rgba($color: $black, $alpha: 0.5) !important;
    color: black;
}
