.v-card {
    position: relative;
    box-shadow: $box-shadow-none;
    border-radius: $border-radius-md;
    padding: 4px;
    cursor: pointer;

    &.card-post {
        padding: 12px 12px;
        box-shadow: $box-shadow-normal;
        max-width: 920px;
        margin: auto;
        overflow: hidden;
        
        .wrapper-frame {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 3vw);
            grid-gap: 8px;
            overflow: hidden;
            
            iframe {
                grid-column-start: 1;
                grid-column-end: 9;
                grid-row-start: 1;
                grid-row-end: 9;
            }
        }

        .wrapper-files {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 2.5vw);
            grid-gap: 8px;
            overflow: hidden;

            .block-file {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                word-wrap: normal;
                object-fit: cover;
                background: $border-color-gray;
                box-shadow: $box-shadow-normal;
                border-radius: $border-radius-xs;
            }

            .file-item-alone {
                grid-column-start: 3;
                grid-column-end: 7;
                grid-row-start: 3;
                grid-row-end: 7;
            }
            .file-item-half-left {
                grid-column-start: 2;
                grid-column-end: 5;
                grid-row-start: 3;
                grid-row-end: 7;
            }
            .file-item-half-right {
                grid-column-start: 5;
                grid-column-end: 8;
                grid-row-start: 3;
                grid-row-end: 7;
            }
            .file-item-first {
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 7;
            }
            .file-item-second {
                grid-column-start: 4;
                grid-column-end: 6;
                grid-row-start: 3;
                grid-row-end: 7;
            }
            .file-item-third {
                grid-column-start: 6;
                grid-column-end: 8;
                grid-row-start: 3;
                grid-row-end: 7;
            }
        }

        .wrapper-gallery {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 3vw);
            grid-gap: 8px;
            overflow: hidden;

            .gallery-img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .gallery-item-cover {
                grid-column-start: 1;
                grid-column-end: 9;
                grid-row-start: 1;
                grid-row-end: 9;
            }
            .gallery-item-large-left {
                grid-column-start: 1;
                grid-column-end: 6;
                grid-row-start: 1;
                grid-row-end: 9;
            }
            .gallery-item-half-left {
                grid-column-start: 1;
                grid-column-end: 9;
                grid-row-start: 1;
                grid-row-end: 5;
            }
            .gallery-item-small-top {
                grid-column-start: 6;
                grid-column-end: 9;
                grid-row-start: 1;
                grid-row-end: 5;
            }
            .gallery-item-small-bottom {
                grid-column-start: 6;
                grid-column-end: 9;
                grid-row-start: 5;
                grid-row-end: 9;
            }
        }
        .wrapper-tools-action {
            display: flex;
            width: 100%;
            min-height: 60px;
            justify-content: space-between;
            align-items: center;
        }
        .wrapper-input-comment {
            display: flex;
            width: 100%;
            flex: 1;
            align-items: center;
            justify-content: center;
            .input-comment {
                width: 100%;
                flex: 1;
            }
            .icon-avatar {
                width: 35px;
            }
            .icon-emoticon {
                width: 35px;
            }
        }
        .text-privacy {
            margin-top: 2px;
            font-size: 12px;
        }
    }
    &.preview-img {
        max-width: 100px;
        height: 100px;
        margin: auto;
        padding: 0 !important;
        background-color: $gray--light !important;
        overflow: hidden;

        &.preview-img-large {
            max-width: 100%;
            height: 250px;
            // height: 200px;
        }

        &.cover {
            width: 100%;
            // max-width: 700px;
            min-height: 300px;
        }

        .icon-close {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
        }
        &:hover {
            .icon-close {
                display: block;
            }
        }
    }
    &.card-upload {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        border: 1px solid;
        border-color: $black !important;
        background-color: $gray--light;
        border-radius: $border-radius-md;
    }
    &.card-profile-column {
        padding: 6px 2px 2px 2px;
        border-top: 2px solid $secondary--color !important;
        border-bottom: 2px solid $secondary--color !important;
        border-radius: $border-radius-none;
    }
}

.card-secondary-outline {
    // background-color: red !important;
    border: 1px solid $secondary--color !important;
}
