input[type="checkbox"]+label {
    display: block;
    cursor: pointer;
    font-size: 18px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label:before {
    content: "\2714";
    border: 0.1em solid rgba($color: $black, $alpha: 0.3);
    border-radius: 0.2em;
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 20px;
    padding-left: 0.15em;
    padding-bottom: 0.5em;
    margin-right: 0.3em;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
}

input[type="checkbox"]+label:active:before {
    transform: scale(0);
}

input[type="checkbox"]:checked+label:before {
    background-color: #fff;
    border-color: rgba($color: $black, $alpha: 0.3);
    color: #000;
}