.v-expansion-panel-content {
    padding: 0 4px !important;
    border-radius: $border-radius-md;

    .v-expansion-panel-content__wrap {
        padding: 0 !important;
        border-radius: $border-radius-md;
        .list-subchapter {
            border-radius: $border-radius-md;
        }
    }
}
.v-expansion-panel-header {
    border-radius: $border-radius-md;
    padding: 0 4px !important;
}
