.img-preview {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: 150px;
    background: $border-input-color;
    border-radius: $border-radius-md;
    cursor: pointer;

    &.cover {
        height: 180px;
    }

    &.img-cover-preview {
        height: 300px;
        border-radius: $border-radius-none;
    }

    &.img-avatar-preview {
        width: 150px;
        height: 150px;
        border-radius: $border-radius-rounded;

        img {
            border-radius: $border-radius-rounded;
        }
    }

    &.img-cover {
        height: 100% !important;
        border-top-left-radius: $border-radius-md;
        border-top-right-radius: $border-radius-none;
        border-bottom-right-radius: $border-radius-none;
        border-bottom-left-radius: $border-radius-md;

        img {
            border-top-left-radius: $border-radius-md;
            border-top-right-radius: $border-radius-none;
            border-bottom-right-radius: $border-radius-none;
            border-bottom-left-radius: $border-radius-md;
        }
    }

    &:hover {
        .btn-close {
            opacity: 1;
        }
    }

    img {
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: $border-radius-md;
        object-fit: cover;
        -o-object-fit: cover;
    }

    input {
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .v-icon {
        position: absolute !important;
        z-index: 99;
        text-align: center;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: $white;
    }
    small {
        position: absolute;
        color: $white;
        bottom: 0;
    }
    .btn-close {
        position: absolute;
        margin: auto;
        top: 5px;
        right: 5px;
        opacity: 0;
    }
    .inp-img {
        position: absolute;
        z-index: 999;
        margin: auto;
        top: 5px;
        right: 5px;
    }
}

img.add-course {
    width: 32px;
}

.img-profile {
    &-column {
        min-height: 100px;
    }
}

.img-bg-cover {
    background-size: cover;
    background-position: 25% 50%;
}

