.v-input {
    // margin: auto !important;
    &.input-xs {
        border-radius: $border-radius-xs;
    }
    &.input-sm {
        border-radius: $border-radius-sm;
    }
    &.input-md {
        border-radius: $border-radius-md;
    }
    &.input-lg {
        border-radius: $border-radius-lg;
    }
    &.input-pill {
        border-radius: $border-radius-pill;
    }
    &.input-search {
        display: flex;
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 920px;
    }
    .v-input__control {
        margin: auto !important;
        .v-input__slot {
            min-height: 40px !important;
            box-shadow: $box-shadow-none;
            font-weight: 300;
            // margin-bottom: 4px !important;
        }
    }
    .input-wrapper {
        position: relative;

        .input-transparent {
            position: absolute;
            z-index: 99;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}

.v-input--selection-controls {
    width: 100%;
    margin-top: 0 !important;
    .v-input__slot {
        padding: 0 !important;
    }
}

.input-wrapper {
    position: relative;

    .input-transparent {
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
        cursor: pointer;
    }
}

.v-text-field__details {
    margin-bottom: 0px !important;
}

.theme--light.v-text-field--outline:not(.v-input--is-focused) > .v-input__control > .v-input__slot {
    border-color: $secondary--color !important;
}
