.joint-split {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .joint {
        display: block;
        width: 5px;
        height: 20px;
        margin-bottom: 5px;
        background: $gray--light;
    }
}