.v-dialog {
    box-shadow: $box-shadow-none;
    .card-close {
        background: transparent !important;
    }
}

.icon-end {
    color: $white;
    &::before {
        margin-left: auto;
    }
}

.card-modal {
    border-radius: $border-radius-md;
    .v-card__title {
        border-bottom: 2px solid rgba($color: $black, $alpha: 0.4);
    }
    .no-border {
        .v-input__slot {
            border: 0 solid !important;
        }
        ::-webkit-scrollbar {
            width: 3px;
        }
    }
    .border-b-1 {
        border-bottom: 1px solid rgba($color: $black, $alpha: 0.4);
    }
}


