
.v-expansion-panel-content {
    ul {
        margin-bottom: 16px;
    }
}

.panel-header {
    background: $gray--color;
    color: $white !important;
    border-radius: $border-radius-xs;
    padding: 4px 16px !important;

    &.v-expansion-panel-header--active {
        min-height: 50px !important;
        margin-bottom: 16px;
    }

    .v-icon {
        color: $white !important;
    }
}
