.v-stepper {
    width: 100% !important;
    .v-stepper__header {
        // width: 70%;
        margin: auto;
        // padding: 0 160px;
        height: auto;
        overflow-x: auto;
    }
    .v-stepper__step {
        flex-direction: column;
        @media screen and (min-width: 960px) {
            .v-stepper__step__step {
                width: 100px;
                height: 10px;
                font-size: 24px;
                border-radius: $border-radius-xs;
                color: $primary--color;
                &.primary {
                    background-color: $primary--color !important;
                }
                .v-icon {
                    font-size: 0px;
                }
            }
        }
        @media screen and (min-width: 1264px) {
            .v-stepper__step__step {
                width: 150px;
            }
        }
        @media screen and (min-width: 1440px) {
            .v-stepper__step__step {
                width: 200px;
            }
        }
    }
    .v-stepper__content {
        margin-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding: 0px;
    }
}
