.tabs-bottom {
    margin-bottom: 16px !important;
    .v-slide-group__wrapper {
        height: 60px;
    }
    .v-slide-group__content {
        margin-top: 10px;
        margin-bottom: 0px !important;
        border-bottom: 0px solid rgba($color: black, $alpha: 0.3);
        justify-content: space-between;
        .v-tab {
            position: relative;
            margin: 0 8px 0 0;
            min-width: 50px !important;
            max-width: 50px !important;
            min-height: 50px;
            max-height: 50px;
            border-radius: $border-radius-rounded;
            align-items: center;

            &:hover {
                background: rgba($color: $primary--color, $alpha: 0.4);
            }

            img {
                transform: scale(0.8, 0.8);
            }

            button {
                transform: scale(0.7, 0.7);
            }

            &.v-tab--active {
                background: rgba($color: $primary--color, $alpha: 0.4);
            }
        }
    }
}

.v-tabs-bar__content {
    margin-bottom: 16px;
    padding-bottom: 16;
    border-bottom: 2px solid rgba($color: black, $alpha: 0.1);
}

.v-slide-group__prev {
    display: none !important;
}
