.tag-subject {
    width: 140px;
    min-width: 20px !important;
    height: 30px;
    font-weight: 600 !important;
    color: $red--highlight !important;
    line-height: 30px !important;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba($color: $red--highlight, $alpha: 0.15) !important;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer !important;
}
