<template>
  <div class="feed mt-10 px-4" v-if="isStarter">
    <CardPost :details="post" v-for="(post, index) in feed" :key="`post-${index}`" />
  </div>
  <div class="mt-10 px-4 text-center" v-else>
    <h1 class="grey--text">ไม่มี Timeline ของคุณ</h1>
  </div>
</template>

<script src="./Timeline"></script>