<template>
  <div>
    <res-top-bar />
    <sidebar-post />
    <v-main class="wrapper-main post-page">
      <search-field class="mb-16" />
      <v-card class="px-0 py-8 mb-4 elevation-4 post-card">
        <v-flex class="d-inline-flex justify-center w-100 mx-auto">
          <img
            src="@/assets/icon/post/Icon_Course_black.svg"
            class="add-course"
            alt="avatar"
          />
          <h4 class="text-center mt-auto ml-4">สร้างรายวิชา</h4>
        </v-flex>
        <v-stepper v-model="stepper" class="elevation-0">
          <v-stepper-header class="flex-nowrap elevation-0">
            <div class="step" v-for="(step, index) in steps" :key="index">
              <v-stepper-step
                :step="''"
                :complete="index + 1 <= stepper"
                :key="index"
                >{{ step.label }}</v-stepper-step
              >
            </div>
          </v-stepper-header>
          <v-stepper-items>
            <!-- first -->
            <v-stepper-content step="1">
              <v-card color="white" class="mb-4 elevation-0 post-card">
                <v-form class="ma-4">
                  <v-container>
                    <v-row class="justify-center">
                      <v-col
                        class="d-flex col-12 col-xl-9 col-lg-9 col-md-9 col-sm-10 col-xs-12 pt-0 pb-0"
                      >
                        <div class="img-preview cover mb-6">
                          <v-btn class="elevation-0 inp-img" rounded>
                            <p class="mb-0">แก้ไขรูปภาพ</p>
                            <input
                              type="file"
                              name
                              id
                              @change="onChangeImg"
                              accept="image/png, image/jpeg, image/jpg"
                            />
                          </v-btn>
                          <img :src="imgPreview" alt />
                        </div>
                      </v-col>
                      <v-flex xs12></v-flex>
                      <v-col
                        class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <v-select
                          class="elevation-0 select-privacy"
                          :items="privacy"
                          item-text="text"
                          item-value="status"
                          v-model="post.privacy"
                          label="เลือกความเป็นส่วนตัว"
                          outlined
                          solo
                          hide-details
                        >
                          <template slot="selection" slot-scope="data">
                            <img src="@/assets/icon/post/public.svg" alt v-if="data.item == 'public'" />
                              <v-icon color="black" v-else>mdi-account</v-icon>
                              <h6 class="ml-2">{{data.item.text}}</h6>
                          </template>
                          <template slot="item" slot-scope="data">
                            <v-flex class="d-flex">
                              <img src="@/assets/icon/post/public.svg" alt v-if="data.item == 'public'" />
                              <v-icon color="black" v-else>mdi-account</v-icon>
                              <h6 class="ml-2">{{data.item.text}}</h6>
                            </v-flex>
                          </template>
                        </v-select>
                      </v-col>
                      <v-col></v-col>
                      <v-flex xs12></v-flex>
                       <v-col
                        class="d-flex col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <h5 class="mt-auto mb-auto">หัวข้อ</h5>
                      </v-col>
                      <v-col
                        class="d-flex col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <v-text-field v-model="post.caption" placeholder="หัวข้อ1"></v-text-field>
                      </v-col>
                      <v-flex xs12></v-flex>
                      <v-col
                        class="d-flex col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <h5 class="mt-auto mb-auto">ชื่อหลักสูตร</h5>
                      </v-col>
                      <v-col
                        class="d-flex col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <v-text-field v-model="post.title" placeholder="ชื่อหลักสูตร1"></v-text-field>
                      </v-col>
                      <v-flex xs12></v-flex>
                      <v-col
                        class="d-flex col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <h5 class="mt-auto mb-auto">คำอธิบายหลักสูตร</h5>
                      </v-col>
                      <v-col
                        class="d-flex col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <v-text-field v-model="post.description" placeholder="คำอธิบายหลักสูตร1"></v-text-field>
                      </v-col>
                      <v-flex xs12></v-flex>
                      <v-col
                        class="d-flex col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <h5 class="mt-auto mb-auto">หมวด</h5>
                      </v-col>
                      <v-col
                        class="d-flex col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <v-text-field v-model="post.subject" placeholder="หมวด1"></v-text-field>
                      </v-col>
                      <v-flex xs12></v-flex>
                      <v-col
                        class="d-flex col-12 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <h5 class="mt-auto mb-auto">รหัสวิชา</h5>
                      </v-col>
                      <v-col
                        class="d-flex col-12 col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12 pt-0 pb-0"
                      >
                        <v-text-field v-model="post.course_id" placeholder="รหัสวิชา1"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card>
              <v-card-actions>
                <v-container class="text-end">
                  <v-flex class="d-flex flex-btn-course">
                    <v-btn
                      rounded
                      class="btn-post post-course"
                      @click.native="(stepper = 2), toTop(), $vuetify.goTo(0)"
                    >
                      <p class="mb-0">ถัดไป</p>
                    </v-btn>
                  </v-flex>
                </v-container>
              </v-card-actions>
            </v-stepper-content>
            <!-- second step -->
             <v-stepper-content step="2">
              <v-card class="mb-8 pa-2 elevation-0 form-card">
                <h5>เพิ่มบทเรียนในรายวิชา</h5>
                <v-divider class="mt-4 mb-4"></v-divider>
                <v-expansion-panels flat class="pa-0">
                  <v-expansion-panel
                    class="elevation-0 mb-2"
                    v-for="(chapter, i) in post.chapter"
                    :key="`chapter${i}`"
                  >
                    <v-expansion-panel-header prepend-icon="mdi-arrow" color="grey lighten-4">
                      <template v-slot:default>
                        <v-row class="pa-0 justify-space-between">
                          <v-col class="col-8 d-block d-md-flex">
                            <label for="youtube-name" class="mt-auto mb-auto pr-4 ml-2">
                              <h5 class="mt-auto mb-auto">ชื่อบทเรียน:</h5>
                            </label>
                            <v-text-field v-model="chapter.title" placeholder="บทเรียน" class="ml-1"></v-text-field>
                          </v-col>
                          <v-col class="justify-end col-4 pr-4 d-flex">
                            <v-btn
                              class="mt-auto mb-auto ml-auto mr-2 btn-add-row elevation-0"
                              @click="pushSubChapter(i)"
                            >
                              <v-icon color="error">mdi-plus</v-icon>
                            </v-btn>
                            <v-btn
                              class="mt-auto mb-auto btn-add-row elevation-0"
                              @click="deleteChapter(i)"
                            >
                              <v-icon color="error">mdi-minus</v-icon>
                            </v-btn>
                          </v-col>
                        </v-row>
                      </template>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content class="pa-0 ml-6">
                      <div class="mt-4">
                        <v-card
                          color="grey lighten-4 elevation-0 pa-2"
                          class="list-subchapter mb-4"
                          v-for="(sub, inx) in chapter.sub_chapter"
                          :key="`sub${inx}`"
                        >
                          <v-row>
                            <v-col class="d-flex justify-end">
                              <v-btn
                                class="mt-auto mb-auto ml-4 mr-2 btn-add-row elevation-0"
                                @click="deleteSubChapter(i, inx)"
                              >
                                <v-icon color="error">mdi-minus</v-icon>
                              </v-btn>
                            </v-col>
                          </v-row>
                          <v-row class="justify-center">
                            <v-col class="col-12 col-lg-11 d-block d-md-flex">
                              <label for="header" class="mt-auto mb-auto mr-4">
                                <h5>ชื่อหัวข้อ:</h5>
                              </label>
                              <v-text-field v-model="sub.title" placeholder="หัวข้อ" single-line></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row
                            class="list-links pb-0 justify-center"
                            v-for="(link, index) in sub.video"
                            :key="`links${index}`"
                          >
                            <v-col
                              class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 pt-0 pb-0 d-block d-md-flex"
                            >
                              <label for="youtube-name" class="mt-auto mb-auto pr-4">
                                <h5>ชื่อลิงก์ Youtube:</h5>
                              </label>
                              <v-text-field v-model="link.title" placeholder="การสอนเรื่องทั่วไป ครั้งที่1" class="ml-1"></v-text-field>
                            </v-col>
                            <v-col
                              class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 pt-0 pb-0 d-block d-md-flex"
                            >
                              <label for="youtube-link" class="mt-auto mb-auto pr-4">
                                <h5>แนบลิงก์ Youtube:</h5>
                              </label>
                              <v-text-field v-model="link.url" placeholder="https://www.youtube.com/watch?v=xxxxxxxxxxx" class="ml-1"></v-text-field>
                            </v-col>
                            <v-col
                              class="col-12 col-lg-1 col-md-1 col-sm-12 col-xs-12 pt-0 pb-0 d-flex justify-end"
                            >
                              <v-btn
                                class="mt-auto mb-auto ml-4 mr-2 elevation-0 icon-highlight"
                                @click="deleteLink(i, inx, index)"
                              >
                                <v-icon>mdi-trash-can</v-icon>
                              </v-btn>
                            </v-col>
                          </v-row>
                          <v-row class="justify-center">
                            <v-col
                              class="col-12 col-lg-11 col-md-11 col-sm-12 col-xs-12 d-flex justify-end"
                            >
                              <v-btn
                                class="mt-auto mb-auto transparent elevation-0"
                                @click="addLink(i, inx)"
                              >
                                <v-icon color="error">mdi-plus</v-icon>
                                <p class="mb-0 text-highlight">เพิ่มลิงก์ Youtube</p>
                              </v-btn>
                            </v-col>
                          </v-row>
                          <v-row
                            class="list-files justify-center"
                            v-for="(file, index) in sub.files"
                            :key="`file${index}`"
                          >
                            <v-col
                              class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 pt-0 pb-0 d-block d-md-flex"
                            >
                              <label for="file-name" class="mt-auto mb-auto pr-4">
                                <h5>ชื่อไฟล์ PDF:</h5>
                              </label>
                              <v-text-field v-model="file.file_name" placeholder="xxxxx.pdf"></v-text-field>
                            </v-col>
                            <v-col
                              class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 pt-0 pb-0 d-block d-md-flex"
                            >
                              <label for="file" class="mt-auto mb-auto pr-4">
                                <h5>แนบไฟล์ PDF:</h5>
                              </label>
                              <div class="inp-file mt-auto mb-auto d-flex justify-space-between">
                                <input
                                  type="file"
                                  class="input-file"
                                  @change="onChangeFile($event, i, inx, index)"
                                  v-if="file.file == null"
                                />
                                <v-btn
                                  class="btn-input-file btn-file-course"
                                  :disabled="file.file !== null && file.file !== ''"
                                >
                                  <h5>อัปโหลดไฟล์</h5>
                                </v-btn>
                                <v-icon color="success" v-if="file.file !== null && file.file !== ''">mdi-check-circle</v-icon>
                                <v-icon color="error" v-else>mdi-close-circle</v-icon>
                              </div>
                            </v-col>
                            <v-col
                              class="col-12 col-lg-1 col-md-1 col-sm-12 col-xs-12 pt-0 pb-0 d-flex justify-end"
                            >
                              <v-btn
                                class="mt-auto mb-auto ml-4 mr-2 elevation-0 icon-highlight"
                                @click="deleteFile(i, inx, index)"
                              >
                                <v-icon>mdi-trash-can</v-icon>
                              </v-btn>
                            </v-col>
                          </v-row>
                          <v-row class="justify-center">
                            <v-col
                              class="col-12 col-lg-11 col-md-11 col-sm-12 col-xs-12 d-flex justify-end"
                            >
                              <v-btn
                                class="mt-auto mb-auto transparent elevation-0"
                                @click="addFile(i, inx)"
                              >
                                <v-icon color="error">mdi-plus</v-icon>
                                <p class="mb-0 text-highlight">เพิ่มไฟล์ PDF</p>
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-card>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card>
              <v-flex class="d-flex mx-4 mb-4">
                <v-spacer></v-spacer>
                <h5 class="text-highlight mt-auto mb-auto mr-2">เพิ่มบทเรียน</h5>
                <v-btn class="btn-add-row elevation-0" @click="pushChapter()">
                  <v-icon color="error">mdi-plus</v-icon>
                </v-btn>
              </v-flex>

              <v-card-actions>
                <v-flex class="d-flex flex-btn-course">
                  <v-btn
                    rounded
                    class="btn-post post-course mr-4"
                    @click.native="stepper = 1, toTop(), $vuetify.goTo(0)"
                  >
                    <p class="mb-0">ย้อนกลับ</p>
                  </v-btn>
                  <v-btn
                    rounded
                    class="btn-post post-course"
                    @click.native="stepper = 3, toTop(), $vuetify.goTo(0)"
                  >
                    <p class="mb-0">ถัดไป</p>
                  </v-btn>
                </v-flex>
              </v-card-actions>
            </v-stepper-content>
            <!-- previews -->
            <v-stepper-content step="3">
              <v-card color="white" class="mb-4 elevation-0">
                <v-card
                  color="grey lighten-4"
                  class="elevation-0 mb-8 preview-card"
                >
                  <v-row>
                    <v-col class="col-12 col-lg-3 col-md-12 pt-0 pb-0">
                      <div class="img-preview img-cover">
                        <img :src="imgPreview" alt />
                      </div>
                    </v-col>
                    <v-col class="col-12 col-lg-9 col-md-12 d-flex">
                      <v-row class="mt-auto mb-auto">
                        <v-col
                          class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 d-flex"
                        >
                          <h5 class="mt-auto mb-auto">ชื่อหลักสูตร:</h5>
                        </v-col>
                        <v-col
                          class="col-12 col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 d-flex"
                        >
                          <p class="mt-auto mb-auto">{{ post.title }}</p>
                        </v-col>
                        <v-flex xs12></v-flex>
                        <v-col
                          class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 d-flex"
                        >
                          <h5 class="mt-auto mb-auto">คำอธิบายหลักสูตร:</h5>
                        </v-col>
                        <v-col
                          class="col-12 col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 d-flex"
                        >
                          <p class="mt-auto mb-auto">{{ post.description }}</p>
                        </v-col>
                        <v-flex xs12></v-flex>
                        <v-col
                          class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 d-flex"
                        >
                          <h5 class="mt-auto mb-auto">หมวด:</h5>
                        </v-col>
                        <v-col
                          class="col-12 col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 d-flex"
                        >
                          <p class="mt-auto mb-auto">{{ post.subject }}</p>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-card>
                <h5>บทเรียนในหลักสูตร</h5>
                <v-divider class="mb-8"></v-divider>
                <v-card
                  class="elevation-0 mb-4 pa-4"
                  v-for="(chapter, i) in post.chapter"
                  :key="`chapter${i}`"
                >
                  <v-expansion-panels flat class="pa-0">
                    <v-expansion-panel class="elevation-0 mb-2">
                      <v-expansion-panel-header
                        prepend-icon="mdi-arrow"
                        color="grey lighten-4"
                        class="pa-1"
                      >
                        <template v-slot:default>
                          <v-row class="pa-0 justify-space-between">
                            <v-col class="col-8 d-block d-md-flex">
                              <label
                                for="youtube-name"
                                class="mt-auto mb-auto pr-4"
                              >
                                <h5 class="mt-auto mb-auto">ชื่อบทเรียน:</h5>
                              </label>
                              <p class="mb-auto mt-auto">{{ chapter.title }}</p>
                            </v-col>
                          </v-row>
                        </template>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content class="pa-0 ml-6">
                        <div class="mt-4">
                          <v-card
                            color="grey lighten-4 elevation-0 pa-2"
                            class="list-subchapter mb-4"
                            v-for="(sub, inx) in chapter.sub_chapter"
                            :key="`sub${inx}`"
                          >
                            <v-row class="justify-center">
                              <v-col class="col-12 col-lg-11 d-block d-md-flex">
                                <label
                                  for="header"
                                  class="mt-auto mb-auto mr-4"
                                >
                                  <h5>ชื่อหัวข้อ:</h5>
                                </label>
                                <p class="mb-auto mt-auto">{{ sub.title }}</p>
                              </v-col>
                            </v-row>
                            <v-row
                              class="list-links pb-0 justify-center"
                              v-for="(link, index) in sub.video"
                              :key="`links${index}`"
                            >
                              <v-col
                                class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 d-block d-md-flex"
                              >
                                <label
                                  for="youtube-name"
                                  class="mt-auto mb-auto pr-4"
                                >
                                  <h5>ชื่อลิงก์ Youtube:</h5>
                                </label>
                                <p class="mb-auto mt-auto">{{ link.title }}</p>
                              </v-col>
                              <v-col
                                class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 d-block d-md-flex"
                              >
                                <label
                                  for="youtube-link"
                                  class="mt-auto mb-auto pr-4"
                                >
                                  <h5>แนบลิงก์ Youtube:</h5>
                                </label>
                                <p class="mb-auto mt-auto">{{ link.url }}</p>
                              </v-col>
                            </v-row>
                            <v-row
                              class="list-files justify-center"
                              v-for="(file, index) in sub.files"
                              :key="`file${index}`"
                            >
                              <v-col
                                class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 d-block d-md-flex"
                              >
                                <label
                                  for="file-name"
                                  class="mt-auto mb-auto pr-4"
                                >
                                  <h5>ชื่อไฟล์ PDF:</h5>
                                </label>
                                <p class="mb-auto mt-auto">
                                  {{ file.file_name }}
                                </p>
                              </v-col>
                              <v-col
                                class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-12 d-block d-md-flex"
                              >
                                <label for="file" class="mt-auto mb-auto pr-4">
                                  <h5>แนบไฟล์ PDF:</h5>
                                </label>
                                <p class="mb-auto mt-auto">
                                  {{ file.file_name }}
                                </p>
                              </v-col>
                            </v-row>
                          </v-card>
                        </div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card>
              </v-card>
              <v-card-actions class="mt-8">
                <v-flex class="d-flex flex-btn-course">
                  <v-btn
                    rounded
                    class="btn-post post-course mr-4"
                    @click.native="(stepper = 2), toTop()"
                  >
                    <p class="mb-0">ย้อนกลับ</p>
                  </v-btn>
                  <v-btn
                    rounded
                    class="btn-post post-course"
                    @click="savePost()"
                  >
                    <p class="mb-0">บันทึก</p>
                  </v-btn>
                </v-flex>
              </v-card-actions>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card>
    </v-main>
    <res-bottom-bar />
  </div>
</template>

<script src="./EditCourse"></script>