<template>
  <v-container>
    <v-card class="mb-5 post-card" v-for="(posts, index) in feed" :key="index">
      <v-list class="transparent">
        <a :href="`/post/${posts.post_id}`">
          <v-list-item>
            <a class="d-flex" :href="`/profile/timeline/${posts.user_id}`">
              <v-list-item-avatar color="grey">
                <img :src="`${posts.img}`" alt="avatar" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  <h5>{{posts.fullname}}</h5>
                </v-list-item-title>
                <v-list-item-subtitle>
                  <small class="mt-0 mb-0">{{posts.create_at}}</small>
                </v-list-item-subtitle>
              </v-list-item-content>
            </a>
            <v-list-item-icon class="ml-auto" v-if="typeof posts.subject !== 'undefined'">
              <v-btn class="tag-subject text-highlight">{{posts.subject}}</v-btn>
            </v-list-item-icon>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <p
                v-if="posts.type == 'course' && typeof posts.chapter !== 'undefined'"
              >{{posts.caption}}</p>
              <p v-else>{{posts.title}}</p>
            </v-list-item-content>
          </v-list-item>
        </a>
        <div
          class="content-block mb-5"
          v-if="posts.type !== 'post' && typeof posts.files !== 'undefined'"
        >
          <img
            :src="`${apiUrl}/${posts.files[0].file.file}`"
            @click="popupGallery(posts.files, 0)"
            alt
          />
        </div>
        <div v-else>
          <div
            class="content-block file-block mb-5"
            v-if="typeof posts.file_type !== 'undefined' && posts.file_type == 'pdf' && posts.files.length > 0"
          >
            <v-container>
              <v-row>
                <v-col class="col-12" v-for="(file, index) in posts.files" :key="file + index">
                  <a target="_blank" :href="`${apiUrl}/${file.file.file}`">
                    <v-card>
                      <v-row class="justify-center">
                        <v-col
                          class="d-flex col-10 col-lg-6 col-md-6 col-sm-10 col-xs-10 justify-center"
                        >
                          <p class="mt-auto mb-auto">{{file.file.file_name}}</p>
                        </v-col>
                        <v-col
                          class="d-flex col-2 col-lg-4 col-md-4 col-sm-10 col-xs-10 justify-center"
                        >
                          <v-icon>mdi-download-outline</v-icon>
                        </v-col>
                      </v-row>
                    </v-card>
                  </a>
                </v-col>
              </v-row>
            </v-container>
          </div>
          <div
            class="content-block mb-5"
            v-if="typeof posts.file_type !== 'undefined' && posts.file_type == 'img' && posts.files.length == 1"
          >
            <img
              :src="`${apiUrl}/${posts.files[0].file.file}`"
              @click="popupGallery(posts.files, 0)"
              alt
            />
          </div>
          <div
            class="content-block file-block image-block mb-5"
            v-if="typeof posts.file_type !== 'undefined' && posts.file_type == 'img' && posts.files.length > 1"
          >
            <v-container>
              <v-row>
                <v-col>
                  <div class="flex-image main-img">
                    <img
                      :src="`${apiUrl}/${posts.files[0].file.file}`"
                      @click="popupGallery(posts.files, 0)"
                      alt
                    />
                  </div>
                </v-col>
                <v-col v-if="posts.files.length == 2">
                  <div class="flex-image mb-4 main-img">
                    <img
                      :src="`${apiUrl}/${posts.files[1].file.file}`"
                      @click="popupGallery(posts.files, 1)"
                      alt
                    />
                  </div>
                </v-col>
                <v-col v-if="posts.files.length > 2">
                  <div class="flex-image mb-4 child-img">
                    <img
                      :src="`${apiUrl}/${posts.files[1].file.file}`"
                      @click="popupGallery(posts.files, 1)"
                      alt
                    />
                  </div>
                  <div class="flex-image child-img" v-if="posts.files.length > 2">
                    <img
                      :src="`${apiUrl}/${posts.files[2].file.file}`"
                      @click="popupGallery(posts.files, 2)"
                      alt
                    />
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </div>

          <div class="content-block mb-5" v-if="posts.link !== null">
            <iframe
              width="100%"
              height="100%"
              :src="`https://www.youtube.com/embed/${posts.link}`"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <v-list-item class="flex-action justify-space-between mb-4">
          <v-icon class="mr-2">mdi-chat-outline</v-icon>
          <v-list-item-title>
            <small>
              <span class="text-comment">{{posts.comment_count}}</span>
            </small>
          </v-list-item-title>
          <v-icon
            class="mr-2"
            @click="actionPost(posts.post_id, 'like')"
            v-if="typeof posts.is_like !== 'undefined' && posts.is_like == true"
            color="error"
          >mdi-heart</v-icon>
          <v-icon class="mr-2" @click="actionPost(posts.post_id, 'like')" v-else>mdi-heart-outline</v-icon>
          <v-list-item-title @click="actionPost(posts.post_id, 'like')">
            <small>
              <span>{{posts.emoticon_count}}</span>
            </small>
          </v-list-item-title>
          <v-icon class="mr-2">mdi-share-variant</v-icon>
          <v-list-item-title>
            <small>
              <span>แชร์</span>
            </small>
          </v-list-item-title>
          <v-icon
            class="mr-2"
            @click="actionPost(posts.post_id, 'favorite')"
            :color="posts.is_favorite? 'primary': ''"
          >mdi-bookmark</v-icon>
          <v-list-item-title @click="actionPost(posts.post_id, 'favorite')">
            <small>
              <span>{{posts.favorite_count}}</span>
            </small>
          </v-list-item-title>
          <v-menu bottom left class="d-flex" v-if="userId == posts.user_id">
            <template v-slot:activator="{ on, attrs }">
              <v-btn dark icon v-bind="attrs" v-on="on" class="d-flex">
                <v-icon color="grey">mdi-dots-horizontal</v-icon>
              </v-btn>
            </template>
            <v-list class="pa-4">
              <v-list-item-title @click="editFeed(posts.post_id, posts.type)">
                <a>
                  <p>แก้ไข</p>
                </a>
              </v-list-item-title>
              <v-list-item-title @click="deleteFeed(posts.post_id, posts.type)">
                <a>
                  <p class="mb-0">ลบ</p>
                </a>
              </v-list-item-title>
            </v-list>
          </v-menu>
        </v-list-item>
        <v-list-item>
          <v-list-item-avatar color="grey">
            <img :src="`${posts.img}`" alt="avatar" />
          </v-list-item-avatar>
          <v-text-field
            class="input-comment"
            label="เขียนข้อความ..."
            @keydown.enter="sendComment($event, index, posts.post_id)"
            v-model="comments[index]"
            light
            single-line
            solo
            hide-details
          ></v-text-field>
          <v-list-item-icon>
            <!-- <v-icon>mdi-emoticon-happy-outline</v-icon> -->
          </v-list-item-icon>
        </v-list-item>
        <!-- comment -->
        <v-list-item-group v-for="comment in posts.comments" :key="comment._id">
          <v-list-item>
            <v-list-item-avatar class="mb-auto" color="grey">
              <a :href="`/profile/timeline/${comment.user_id}`" class="profile-link">
                <img :src="`${comment.img}`" alt="avatar" />
              </a>
            </v-list-item-avatar>
            <v-list-item-content>
              <a :href="`/profile/timeline/${comment.user_id}`" class="profile-link">
                <v-list-item-title>
                  <h5>{{comment.fullname}}</h5>
                  <p class="mb-0">@{{comment.username}}</p>
                </v-list-item-title>
              </a>
              <v-list-item-content>
                <p class="mb-0">{{comment.comment}}</p>
              </v-list-item-content>
            </v-list-item-content>
          </v-list-item>
          <!-- reply filed -->
          <v-list-item class="mb-4 pl-10" v-if="comment.reply.length == 0">
            <v-list-item-avatar color="grey">
              <img :src="`${img}`" alt="avatar" />
            </v-list-item-avatar>
            <v-text-field
              class="input-comment"
              label="เขียนข้อความ..."
              v-model="comment.input"
              @keydown.enter="sendReply($event, posts.post_id, comment.comment_id, comment.input)"
              light
              single-line
              solo
              hide-details
            ></v-text-field>
            <v-list-item-icon>
              <!-- <v-icon>mdi-emoticon-happy-outline</v-icon> -->
            </v-list-item-icon>
          </v-list-item>
          <!-- reply -->
          <v-list-group class="reply-group" v-else append-icon>
            <template v-slot:activator>
              <v-list-item-content class="py-0 px-4" inset>
                <v-list-item-title class="text-center">
                  <span>-- การตอบกลับ --</span>
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item
              class="mb-4 pl-10"
              v-for="reply in comment.reply"
              :key="reply.sub_comment_id"
            >
              <v-list-item-avatar class="mb-auto" color="grey">
                <a :href="`/profile/timeline/${reply.user_id}`" class="profile-link">
                  <img :src="`${reply.img}`" alt="avatar" />
                </a>
              </v-list-item-avatar>
              <v-list-item-content>
                <a :href="`/profile/timeline/${reply.user_id}`" class="profile-link">
                  <v-list-item-title>
                    <h5>{{reply.fullname}}</h5>
                    <p class="mb-0">@{{reply.username}}</p>
                  </v-list-item-title>
                </a>
                <v-list-item-content>
                  <p class="mb-0">{{reply.comment}}</p>
                </v-list-item-content>
              </v-list-item-content>
            </v-list-item>
            <!-- reply field -->
            <v-list-item class="mb-4 pl-10">
              <v-list-item-avatar color="grey">
                <img :src="`${img}`" alt="avatar" />
              </v-list-item-avatar>
              <v-text-field
                class="input-comment"
                label="เขียนข้อความ..."
                v-model="comment.input"
                @keydown.enter="sendReply($event, posts.post_id, comment.comment_id, comment.input)"
                light
                single-line
                solo
                hide-details
              ></v-text-field>
              <v-list-item-icon>
                <!-- <v-icon>mdi-emoticon-happy-outline</v-icon> -->
              </v-list-item-icon>
            </v-list-item>
          </v-list-group>
        </v-list-item-group>
      </v-list>
    </v-card>
    <div class="container text-center" v-if="feed.length == 0">
      <h1>ยังไม่มีโพสต์ในตอนนี้</h1>
    </div>
    <vue-gallery-slideshow :images="arrImg" :index="imgIndex" @close="imgIndex = null"></vue-gallery-slideshow>
  </v-container>
</template>

<script src="./UserPost"></script>