<template>
  <v-form class="text-center" v-model="isValid" @submit.prevent="submit()" ref="passwordForm" lazy-validation>
    <v-row class="justify-center">
      <InputGroup
        v-model="account.password"
        type="password"
        inputStyle="sm"
        :layout="layout"
        label="รหัสผ่าน"
        placeholder="รหัสผ่าน"
        :validates="[rules.required, rules.password]"
        isRequired
      />
      <v-flex xs12></v-flex>
      <InputGroup
        v-model="account.password_confirm"
        type="password"
        inputStyle="sm"
        :layout="layout"
        label="ยืนยันรหัสผ่าน"
        placeholder="ยืนยันรหัสผ่าน"
        :validates="[rules.required, rules.match(account.password, account.password_confirm)]"
        isRequired
      />
    </v-row>
    <BtnSm class="btn-rounded-pill btn-primary mt-8" type="submit" :isLoading="isLoading" :isDisabled="isLoading">
      บันทึก
    </BtnSm>
  </v-form>
</template>


<script src="./EditPassword"></script>