<template>
  <div class="profile" v-if="isStarter">
    <ToolbarProfile />
    <v-main>
      <div class="wrapper-profile">
        <div class="wrapper-profile-cover" :style="{ 'background-image': `url(${userProfile.cover_img})` }">
          <div class="wrapper-options-bar justify-end">
            <div class="options-bar" v-if="user.userId == userProfile.user_id">
              <BtnSm
                class="btn-rounded-pill btn-transparent"
                @click.native="goPage(`/editprofile/cover/${user.userId}`)"
                >แก้ไขรูปภาพหน้าปก</BtnSm
              >
              <BtnSm
                class="btn-rounded-pill btn-primary mr-2"
                @click.native="goPage(`/editprofile/information/${user.userId}`)"
                >แก้ไขข้อมูลส่วนตัว</BtnSm
              >
            </div>
          </div>
        </div>
        <div class="wrapper-profile-main">
          <div class="profile-sidebar">
            <v-list>
              <v-list-item class="justify-center avatar">
                <Avatar class="mr-0" :image="userProfile.img" :size="150" />
              </v-list-item>

              <v-list-item class="justify-center avatar mt-2 mb-4" v-if="user.userId !== userProfile.user_id">
                <BtnFollow :isActive="userProfile.is_follow" @click.native="onFollow(userProfile.is_follow)" />
              </v-list-item>
              <div class="justify-center mt-2 mb-4">
                <h5>{{ userProfile.fullname }}</h5>
                <p>@{{ userProfile.username }}</p>
              </div>

              <div class="justify-center mt-2 mb-4 d-flex d-md-none" v-if="user.userId == userProfile.user_id">
                <BtnSm
                  class="btn-rounded-pill btn-primary mr-2"
                  @click.native="goPage(`/editprofile/information/${user.userId}`)"
                  >แก้ไขข้อมูลส่วนตัว</BtnSm
                >
                <BtnSm
                  class="btn-rounded-pill btn-primary-outline"
                  @click.native="goPage(`/editprofile/cover/${user.userId}`)"
                  >แก้ไขรูปภาพหน้าปก</BtnSm
                >
              </div>

              <v-list-item class="px-0">
                <div class="follow-block">
                  <div class="follow-child-block follower-block" @click="openDialog('follower')">
                    <p>ผู้ติดตาม</p>
                    {{ userProfile.follower }}
                  </div>
                  <div class="follow-child-block following-block" @click="openDialog('following')">
                    <p>กำลังติดตาม</p>
                    {{ userProfile.following }}
                  </div>
                </div>
              </v-list-item>
              <!-- <v-list-item>เกี่ยวกับ</v-list-item>
              <v-list-item
                v-if="user.userId == userProfile.user_id"
                @click="goPage(`/editprofile/information/${user.userId}`)"
              >
                <BtnLg class="btn-secondary btn-rounded-pill">แก้ไขรายละเอียด</BtnLg>
              </v-list-item>
              <v-list-item>{{ userProfile.university }}</v-list-item> -->
              <v-list-item to="/" class="px-10 list-link border-verticle" link>
                <v-icon class="mr-2">mdi-home</v-icon>
                <p class="text-link">หน้าแรก</p>
              </v-list-item>
              <v-list-item to="/notification" class="px-10 list-link border-verticle" link>
                <v-icon class="mr-2">mdi-bell</v-icon>
                <p class="text-link">แจ้งเตือน</p>
              </v-list-item>
              <v-list-item to="/saved" class="px-10 list-link border-verticle" link>
                <v-icon class="mr-2">mdi-bookmark</v-icon>
                <p class="text-link">บันทึกไว้</p>
              </v-list-item>
              <v-list-item to="#" class="px-10 list-link border-verticle" link>
                <v-icon class="mr-2">mdi-chat</v-icon>
                <p class="text-link">ข้อความ</p>
              </v-list-item>
            </v-list>
          </div>
          <div class="wrapper-profile-content">
            <div class="navbar-route">
              <div
                class="navbar-route-link"
                :class="{ active: this.$route.name == 'timeline' }"
                @click="goPage(`/profile/timeline/${userProfile.user_id}`)"
              >
                ไทม์ไลน์
              </div>
              <div
                class="navbar-route-link"
                :class="{ active: this.$route.name == 'UserLiked' }"
                @click="goPage(`/profile/liked/${userProfile.user_id}`)"
                v-if="user.userId == userProfile.user_id"
              >
                ที่ถูกใจ
              </div>
              <div
                class="navbar-route-link"
                :class="{ active: this.$route.name == 'UserSaved' }"
                @click="goPage(`/profile/saved/${userProfile.user_id}`)"
                v-if="user.userId == userProfile.user_id"
              >
                ที่บันทึกไว้
              </div>
              <div class="navbar-route-link" @click="goPage(`/course`)" v-if="userProfile.type == 'teacher'">
                คอร์สทั้งหมด
              </div>
            </div>

            <div class="wrapper-content">
              <router-view />
            </div>
          </div>
        </div>
      </div>
    </v-main>
    <ModalFollow v-model="isActive" :title="title" :users="followList" />
  </div>
</template>

<script src="./Profile"></script>