<template>
  <div class="text-center" v-if="isStarter">
    <BoxUpload @onchangeHandler="onchangeHandlerFile">
      <template v-slot="{ on }">
        <Avatar :image="imgProfile" v-on="on" :size="150" />
      </template>
    </BoxUpload>
    <h6 class="text-primary">เปลี่ยนรูปโปรไฟล์</h6>
    <BtnSm
      class="btn-primary btn-rounded-pill mt-4 mt-sm-8"
      @click.native="submit()"
      :isLoading="isLoading"
      :isDisabled="isLoading"
    >
      บันทึก
    </BtnSm>
  </div>
</template>

<script src="./EditAvatar"></script>