<template>
  <v-form ref="registerForm" v-model="isValid" lazy-validation aria-autocomplete>
    <v-row class="justify-center text-center">
      <InputGroup
        v-model="teacher.firstname"
        :layout="layout.half"
        label="ชื่อ"
        placeholder="ระบุชื่อ"
        :validates="[rules.required]"
        isRequired
      />
      <InputGroup
        v-model="teacher.lastname"
        :layout="layout.half"
        label="นามสกุล"
        placeholder="ระบุนามสกุล"
        :validates="[rules.required]"
        isRequired
      />
      <v-flex xs12></v-flex>
      <InputGroup
        v-model="teacher.username"
        :layout="layout.half"
        label="ชื่อผู้ใช้"
        placeholder="ชื่อผู้ใช้"
        :validates="[rules.required]"
        isRequired
      />
      <v-flex xs12 sm4 xl3></v-flex>
      <v-flex xs12></v-flex>
      <InputGroup
        v-model="teacher.password"
        :layout="layout.half"
        type="password"
        label="รหัสผ่าน"
        placeholder="ระบุรหัสผ่าน"
        :validates="[rules.required]"
        isRequired
      />
      <InputGroup
        v-model="teacher.confirm_password"
        :layout="layout.half"
        type="password"
        label="ยืนยันรหัสผ่าน"
        placeholder="ยืนยันรหัสผ่าน"
        :validates="[rules.required, rules.match(teacher.password, teacher.confirm_password)]"
        isRequired
      />
      <v-flex xs12></v-flex>
      <SplitDateSelect
        v-model="teacher.date_of_birth"
        :layout="layout.half"
        label="วันเกิด"
        isRequired
        :validates="[rules.required]"
      />
      <RadioGroup
        v-model="teacher.sex"
        :layout="layout.half"
        :items="genders"
        itemValue="value"
        itemText="text"
        label="เพศ"
        isRequired
      />
      <v-flex xs12></v-flex>
      <InputGroup
        v-model="teacher.email"
        :layout="layout.half"
        label="อีเมล"
        placeholder="example@mail.com"
        :validates="[rules.required, rules.email]"
        isRequired
      />
      <InputGroup
        v-model="teacher.tel"
        :layout="layout.half"
        label="เบอร์โทรศัพท์"
        placeholder="ระบุเบอร์โทรศัพท์"
        :validates="[rules.required, rules.phone]"
        isRequired
      />
      <v-flex xs12></v-flex>
      <InputGroup
        v-model="teacher.educaiton"
        :layout="layout.half"
        label="ระดับการศึกษา"
        placeholder="ระดับการศึกษา"
      />
      <InputGroup
        v-model="teacher.university"
        :layout="layout.half"
        label="สถาบันการศึกษา/ที่ทำงาน"
        placeholder="สถาบันการศึกษา/ที่ทำงาน"
      />
      <v-flex xs12></v-flex>
      <v-col :class="layout.half" class="text-start">
        <label class="ml-2">ใบ certificate (ถ้ามี)</label>
        <BtnUpload @onchangeHandler="onchangeHandler" />
      </v-col>
      <v-flex xs12 sm4 xl3></v-flex>
      <v-flex xs12></v-flex>
      <h4 class="text-black text-strong mt-8">หรือ ลงทะเบียนโดย</h4>
      <v-flex xs12></v-flex>
      <v-col class="col-12 text-center d-inline-block mb-4">
        <v-row class="justify-center">
          <img
            class="d-inline-flex mr-4 btn-social"
            :src="imgFacebook"
            alt="facebook"
            @click="socialFacecbookLogin()"
          />
          <img
            class="d-inline-flex ml-4 btn-social"
            :src="imgGoogle"
            alt="google+"
            @click="socialGoogleLogin()"
          />
        </v-row>
      </v-col>
      <BtnSpecial
        class="btn-dark btn-rounded-pill mt-4 mt-sm-8"
        @click.native="submit()"
        :isLoading="isLoading"
        :isDisabled="isLoading"
      >ลงทะเบียน</BtnSpecial>
    </v-row>
  </v-form>
</template>

<script src="./TeacherRegister"></script>