<template>
  <v-app class="message">
    <res-top-bar />
    <sidebar />
    <v-main class="wrapper-main hide-right">
      <v-row>
        <v-col>
          <v-container>
             <search-field class="mb-16" />
            <v-row no-gutters>
              <v-col>
                <h4 class="mb-4">ข้อความ</h4>
              </v-col>
            </v-row>
            <v-card class="mb-4 msg-panel">
              <v-row>
                <v-col class="col-2 col-md-4 col-xs-1 padding-less" style="border-right: 1px solid rgba(0, 0, 0, .25)">
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    class="mb-4 ml-3 mx-auto field-search"
                    solo
                    hide-details
                  ></v-text-field>
                  <v-list class="transparent">
                    <a href="#" v-for="(message,index) in 5" :key="message+index">
                      <v-list-item class="mb-4">
                        <v-list-item-avatar color="grey">
                          <img src="@/assets/images/avatar.png" alt="avatar" />
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title>
                            <h5>ชื่อ นามสกุล</h5>
                          </v-list-item-title>
                          <v-list-item-subtitle class="msg">
                            <small class="text-subheader">ขอบคุณมากค่า :)</small>
                          </v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-content class="text-end mb-auto mt-auto details-msg">
                          <small>20 นาที</small>
                          <v-icon
                            class="justify-end"
                            :size="16"
                            color="#fd331c"
                          >mdi-checkbox-blank-circle</v-icon>
                        </v-list-item-content>
                      </v-list-item>
                      <v-divider class="mb-4"></v-divider>
                    </a>
                  </v-list>
                </v-col>
                <v-col class="col-10 col-md-8 col-xs-11 pl-0">
                  <div class="header-card-message">
                    <h5 class="pl-4">ชื่อ นามสกุล</h5>
                    <p class="pl-4">@username</p>
                  </div>
                  <div class="message-overflow-box">
                    <v-list>
                      <v-list-item class="mb-4" v-for="(msg,index) in message" :key="msg+index">
                        <v-list-item
                          class="d-flex flex-row-reverse flex-start"
                          v-if="msg.from == 'user'"
                        >
                          <v-list-item-avatar color="grey">
                            <img src="@/assets/images/avatar.png" alt="avatar" />
                          </v-list-item-avatar>
                          <v-list-item-icon class="message-box">
                            <h5 class="text-right">{{msg.msg}}</h5>
                          </v-list-item-icon>
                        </v-list-item>
                        <v-list-item class="d-flex flex-start" v-else>
                          <v-list-item-avatar color="grey">
                            <img src="@/assets/images/avatar.png" alt="avatar" />
                          </v-list-item-avatar>
                          <v-list-item-icon class="message-box">
                            <h5 class="text-left">{{msg.msg}}</h5>
                          </v-list-item-icon>
                        </v-list-item>
                      </v-list-item>
                    </v-list>
                  </div>
                  <div class="bottom-card-message">
                    <v-list>
                      <v-list-item class="mx-auto">
                        <v-list-item-avatar color="grey">
                          <img src="@/assets/images/avatar.png" alt="avatar" />
                        </v-list-item-avatar>
                        <v-list-item-title>
                          <v-text-field
                            v-model="search"
                            append-icon="mdi-emoticon"
                            label="เขียนข้อความ..."
                            class="mb-auto mt-auto chat-box"
                            solo
                            hide-details
                          ></v-text-field>
                        </v-list-item-title>
                        <v-list-item-icon class="mt-auto mb-auto">
                          <v-btn class="message-btn mr-4"> <h5>ส่ง</h5> </v-btn>
                        </v-list-item-icon>
                      </v-list-item>
                    </v-list>
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </v-container>
        </v-col>
      </v-row>
    </v-main>
    <res-bottom-bar />
  </v-app>
</template>

<script src="./Message"></script>
