<template>
  <div>
    <profile-nav></profile-nav>
    <div class="wrapper wrapper-edit">
      <div class="side-edit">
        <ul class="w-100 pl-0">
          <li class="side-list-header">
            <h4 class="text-header">{{fullname}}</h4>
            <h6 class="text-subheader">@{{username}}</h6>
          </li>
          <router-link :to="`/editprofile/avatar/${userId}`">
            <li class="side-list-link justify-space-between pa-4">
              <h6 :class="{'text-primary' : $route.name == 'avatar'}">แก้ไขรูปภาพโปรไฟล์</h6>
              <v-icon class="icon-right" :class="{'text-icon-primary' : $route.name == 'avatar'}">mdi-chevron-right</v-icon>
            </li>
          </router-link>
          <router-link :to="`/editprofile/cover/${userId}`">
            <li class="side-list-link justify-space-between pa-4">
              <h6 :class="{'text-primary' : $route.name == 'cover'}">แก้ไขรูปภาพหน้าปก</h6>
              <v-icon class="icon-right" :class="{'text-icon-primary' : $route.name == 'cover'}">mdi-chevron-right</v-icon>
            </li>
          </router-link>
          <router-link :to="`/editprofile/information/${userId}`">
            <li class="side-list-link justify-space-between pa-4">
              <h6 :class="{'text-primary' : $route.name == 'information'}">แก้ไขประวัติส่วนตัว</h6>
              <v-icon class="icon-right" :class="{'text-icon-primary' : $route.name == 'information'}">mdi-chevron-right</v-icon>
            </li>
          </router-link>
          <router-link :to="`/editprofile/changepassword/${userId}`">
            <li class="side-list-link justify-space-between pa-4">
              <h6 :class="{'text-primary' : $route.name == 'changePassword'}">แก้ไขรหัสผ่าน</h6>
              <v-icon class="icon-right" :class="{'text-icon-primary' : $route.name == 'changePassword'}">mdi-chevron-right</v-icon>
            </li>
          </router-link>
        </ul>
      </div>
      <v-main class="wrapper-edit-page">
        <div class="top-header">
          <h5 class="text-primary">แก้ไขข้อมูลส่วนตัว</h5>
        </div>
        <v-container>
          <router-view />
        </v-container>
      </v-main>
    </div>
  </div>
</template>

<script src="./EditProfile"></script>
