.not-found-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;

    .text-wrapper {
        position: absolute;
        text-align: center;
        z-index: 99;
        max-width: 500px;
        height: fit-content;
        margin: auto;
        padding: 0 16px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        h1 {
            font-size: 72px !important;
        }
        .v-btn {
            margin-top: 16px;
            border-radius: 25px;

            &:hover {
                background-color: $primary--color !important;
                color: $white !important;
            }
        }
    }
}