.message {
    .msg-panel {
        display: flex;
        border-radius: $border-radius-md;
    }
    .header-card-message {
        border-bottom: 1.5px solid rgba($color: $black, $alpha: 0.25);
        color: $primary--color;
    }
    .message-overflow-box {
        width: auto;
        /* display: flex; */
        overflow-y: scroll;
        height: 450px;
        &::-webkit-scrollbar {
            width: 0.5px;
        }
    }
    .message-box {
        width: fit-content;
        background: rgba($color: $red--highlight, $alpha: 0.25);
        padding: 4px 10px;
        margin-right: 12px !important;
        margin-left: 0px !important;
        border-radius: $border-radius-md;
    }
    .v-btn.message-btn {
        background-color: $primary--color !important;
        color: $white !important;
        border-radius: $border-radius-xs;
    }
    .padding-less-xs {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .message {
        .msg,
        .details-msg {
            display: none !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .msg,
    .details-msg {
        display: none !important;
    }
    .padding-less {
        padding: 4px !important;
        .field-search {
            display: none;
        }
    }
}