.post {
    .details-post-card {
        box-shadow: $box-shadow-none;
    }
    .text-header {
        // background: $white;
        display: flex;
        font-size: 25px;
        color: $primary--color;
    }
    .line-header {
        display: flex;
        height: 1px;
        border-top: 1px solid $primary--color;
        width: 80%;
        margin: auto;
    }
    .text-description {
        text-indent: 25px;
    }
    .text-action-right {
        width: fit-content;
        margin-left: auto;
        color: $red--highlight;
        cursor: pointer;
    }
}

.icon-close {
    position: absolute !important;
    z-index: 9999;
    top: 0;
}

.border-b-highlight {
    border-bottom: 6px solid $primary--color;
}

.img-card {
    border-radius: $border-radius-md;
}

.preview-card {
    border-radius: $border-radius-md;
    overflow: hidden
}