<template>
  <div class="not-found-page">
    <div class="text-wrapper">
      <h1 class="text-special">Oops !</h1>
      <h3>404-PAGE NOT FOUND</h3>
      <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
      <v-btn class="mx-auto text-center" @click="$router.push('/')">Goto Homepage</v-btn>
    </div>
  </div>
</template>

<script src="./errorPage"></script>