<template>
  <div class="wrapper-invite">
    <div class="box-invite">
      <h5>คำขอเข้าร่วม</h5>
      <div class="wrapper-list-invite long-box">
        <v-list class="py-0">
          <v-list-item v-for="(invite, index) in invited" :key="`invite-${index}`">
            <Avatar :image="invite.profile" :link="`/profile/timeline/${invite.user_id}`" />
            <v-list-item-content class="text-start">
              <a>{{ invite.fullname }}</a>
            </v-list-item-content>
            <v-list-item-icon>
              <BtnXs class="btn-secondary mr-2" @click.native="accept(invite.user_id, invite.member_type)">
                ตอบรับ
              </BtnXs>
              <BtnXs class="btn-light" @click.native="reject(invite.user_id, invite.member_type)">ปฏิเสธ</BtnXs>
            </v-list-item-icon>
          </v-list-item>
        </v-list>
      </div>
    </div>
    <div class="box-invite">
      <h5>เชิญ</h5>
      <InputGroup
        v-model="search"
        layout="w-100 py-4"
        placeholder="ค้นหาผู้ใช้..."
        color="primary"
        icon="mdi-magnify"
        @keyup.native="searchUser"
      />
      <v-progress-circular
        class="mt-10"
        indeterminate
        color="primary"
        v-if="isLoading"
        :size="50"
      ></v-progress-circular>
      <div class="wrapper-list-invite long-box" v-else>
        <v-list>
          <v-list-item v-for="(user, index) in users" :key="`invite-${index}`">
            <Avatar :image="user.profile" :link="`/profile/timeline/${user.user_id}`" />
            <v-list-item-content class="text-start">
              <a>{{ user.fullname }}</a>
            </v-list-item-content>
            <v-list-item-icon>
              <BtnInvite @click.native="join(user.user_id)" />
            </v-list-item-icon>
          </v-list-item>
        </v-list>
      </div>
    </div>
  </div>
</template>

<script src="./Invite"></script>