<template>
  <div v-if="isStarter">
    <CardPost class="mb-4" :details="course" @processSuccess="processSuccess" />
    <v-card class="pa-4 mb-10 card-post">
      <v-tabs v-model="tab" slider-color="primary" color="primary">
        <v-tabs-slider color="primary" v-model="tab"></v-tabs-slider>
        <v-tab class="text-tab" :key="1">รายละเอียดหลักสูตร</v-tab>
        <v-tab class="text-tab" :key="2" v-if="$route.name == 'ViewCourseByGroup'">เนื้อหาเพิ่มเติมในคอร์ส</v-tab>
        <v-tab class="text-tab" :key="3" v-if="$route.name == 'ViewCourseByGroup'">ความคิดเห็น</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item :key="1">
          <v-card-text>
            <v-row>
              <v-col class="col-12 col-lg-2 col-md-3 text-start">
                <h5>ชื่อหลักสูตร</h5>
              </v-col>
              <v-col class="col-12 col-lg-10 col-md-9 text-start">
                <p class="mb-0">{{ course.title }}</p>
              </v-col>
              <v-col class="col-12 col-lg-2 col-md-3 text-start">
                <h5>รหัสวิชา</h5>
              </v-col>
              <v-col class="col-12 col-lg-10 col-md-9 text-start">
                <p class="mb-0">{{ course.course_id }}</p>
              </v-col>
              <v-col class="col-12 col-lg-2 col-md-3 text-start">
                <h5>หมวด</h5>
              </v-col>
              <v-col class="col-12 col-lg-10 col-md-9 text-start">
                <p class="mb-0">{{ course.subject }}</p>
              </v-col>
              <v-col class="col-12 col-lg-2 col-md-3 text-start">
                <h5>ผู้สอน</h5>
              </v-col>
              <v-col class="col-12 col-lg-10 col-md-9 text-start">
                <p class="mb-0">{{ course.fullname }}</p>
              </v-col>
              <v-col class="col-12 col-lg-2 col-md-3 text-start">
                <h5>คำอธิบายหลักสูตร</h5>
              </v-col>
              <v-col class="col-12 col-lg-10 col-md-9 text-start">
                <p class="mb-0">{{ course.description }}</p>
              </v-col>
              <v-flex xs12></v-flex>
            </v-row>
          </v-card-text>
        </v-tab-item>
        <v-tab-item :key="2">
          <v-expansion-panels flat>
            <v-expansion-panel class="elevation-0 mb-2" v-for="(list, index) in course.chapter" :key="`list${index}`">
              <v-expansion-panel-header class="panel-header px-4">
                <template v-slot:default>
                  <v-row no-gutters>
                    <v-col cols="12">
                      <h5>{{ list.title }}</h5>
                    </v-col>
                  </v-row>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="mb-2" v-for="sub in list.sub_chapter" :key="`lesson${sub._id}`">
                  <v-flex class="d-flex">
                    <v-icon size="20">mdi-checkbox-blank-circle</v-icon>
                    <h5 class="ml-4">{{ sub.title }}</h5>
                  </v-flex>
                  <div class="container text-start" v-if="sub.files.length">
                    <h6 class="mb-4 ml-4">เอกสารประกอบการเรียน</h6>
                    <ul class="ml-4">
                      <li v-for="files in sub.files" :key="files._id">
                        <a :href="`${apiURL}/${files.file}`" target="_blank">
                          <p>{{ files.file_name }}</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="container text-start" v-if="sub.video.length">
                    <h6 class="mb-4 ml-4">ลิงก์ Youtube</h6>
                    <ul class="ml-4">
                      <li class="mb-4" v-for="link in sub.video" :key="link._id">
                        <small>{{ link.description }}</small>
                        <p class="primary--text pointer" @click="openModal(link.url, link.title)">คลิกเพื่อดูวิดีโอ</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-tab-item>
        <v-tab-item :key="3">
          <v-list-item class="w-100">
            <Avatar :image="user.img" />
            <InputGroup
              layout="w-100"
              @keydown.enter="sendComment($event, course.post_id)"
              ref="inputComment"
              placeholder="เขียนคอมเมนต์..."
            />
          </v-list-item>
          <WrapperComment
            :postId="course.post_id"
            :comments="course.comments"
            @replySuccess="replySuccess"
            v-if="course.comments.length"
          />
        </v-tab-item>
      </v-tabs-items>
    </v-card>
    <ModalYoutubeFrame :value="visibleModal" @input="closeModal" title="วิดีโอ" :link="link" />
  </div>
</template>

<script src="./ViewCourseByGroup"></script>
