<template>
  <div v-if="isStarter">
    <v-card class="card-post px-4 py-4" v-if="unreads.length || reads.length">
      <v-list>
        <a :href="`/post/${unread.post_id}`" v-for="(unread, index) in unreads" :key="`ur${index}`">
          <v-list-item class="transparent my-1" dense>
            <v-list-item-icon class="mr-4 my-auto">
              <v-icon color="error">{{ unread.type == "emoticon" ? "mdi-heart" : "mdi-chat" }}</v-icon>
            </v-list-item-icon>
            <v-avatar color="grey">
              <img :src="`${unread.img}`" alt="avatar" />
            </v-avatar>
            <v-list-item-content class="ml-4">
              <p>{{ unread.fullname }}</p>
            </v-list-item-content>
            <v-list-item-content class="text-start">
              <p class="mb-0 text-subheader">
                {{ unread.message }}
              </p>
            </v-list-item-content>
            <v-list-item-icon class="mr-4 my-auto">
              <v-icon color="error" size="16">mdi-checkbox-blank-circle</v-icon>
            </v-list-item-icon>
          </v-list-item>
          <v-divider class="my-1" v-if="index < unreads.length - 1"></v-divider>
        </a>
      </v-list>
      <h5 class="ml-2 mb-4" v-if="reads.length > 0">ก่อนหน้านี้</h5>
      <a :href="`/post/${read.post_id}`" v-for="(read, index) in reads" :key="`ur${index}`">
        <v-list-item class="transparent my-1">
          <v-list-item-icon class="mr-4 my-auto">
            <v-icon color="error">{{ read.type == "emoticon" ? "mdi-heart" : "mdi-chat" }}</v-icon>
          </v-list-item-icon>
          <v-avatar color="grey">
            <img :src="`${read.img}`" alt="avatar" />
          </v-avatar>
          <v-list-item-content class="ml-4">
            <h5>{{ read.fullname }}</h5>
          </v-list-item-content>
          <v-list-item-content>
            <p class="mb-0 text-subheader">
              {{ read.message }}
            </p>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="my-1"  v-if="index < reads.length - 1"></v-divider>
      </a>
    </v-card>
    <div class="container text-center" v-else>
      <h1 class="grey--text">ไม่มีการแจ้งเตือน</h1>
    </div>
  </div>
</template>

<script src="./Notification"></script>